# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from selenium.webdriver.common.by import By

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration
#opciones=Options()

#opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#opciones.add_experimental_option('useAutomationExtension', False)
#opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
#opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
#opciones.add_argument('--incognito')

In [7]:
driver = webdriver.Chrome()

In [4]:
#driver.quit()

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [8]:
# This is the url you will scrape in this exercise
urldev = 'https://github.com/trending/developers'

In [9]:
driver.get(urldev)

In [10]:
box = driver.find_elements(By.CLASS_NAME, 'Box-row.d-flex')

In [11]:
devs_list = []
for dev in box:
    try:
        devs_name = dev.find_element(By.CLASS_NAME, 'h3.lh-condensed').text
        devs_alias = dev.find_element(By.CLASS_NAME, 'f4.text-normal.mb-1').text
        name_alias = devs_name + ' ' + '(' + devs_alias + ')'
        devs_list.append(name_alias)
    except:
        devs_list.append(devs_name)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [12]:
devs_list

['Ismail Pelaseyed (homanp)',
 'Chris Banes (chrisbanes)',
 'Travis Cline (tmc)',
 'Xiaoyu Zhang (BBuf)',
 'Stefan Prodan (stefanprodan)',
 'Pedro Cattori (pcattori)',
 'lllyasviel',
 'Arvin Xu (arvinxx)',
 'Howard Wu (howardwu)',
 'Shahed Nasser (shahednasser)',
 'Kailash Nadh (knadh)',
 'Mattt (mattt)',
 'kixelated',
 'Brad Fitzpatrick (bradfitz)',
 'Miško Hevery (mhevery)',
 'Andrew Lock (andrewlock)',
 'Brian Smith (briansmith)',
 'Numan (numandev1)',
 'Fons van der Plas (fonsp)',
 'Leonid Bugaev (buger)',
 'wū yāng (uyarn)',
 'Steven Nguyen (stnguyen90)',
 'Argo Zhang (ArgoZhang)',
 'Josh Stein (jcstein)',
 'Mike McNeil (mikermcneil)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [13]:
# This is the url you will scrape in this exercise
urlrepos = 'https://github.com/trending/python?since=daily'

In [14]:
driver.get(urlrepos)

In [15]:
driver.find_elements(By.XPATH, '//h2//a')[0].text

'swisskyrepo / PayloadsAllTheThings'

In [16]:
box = driver.find_elements(By.XPATH, '//h2//a')
titles=[]
for title in box:
    titles.append(title.text.replace(' ', ''))

titles

['swisskyrepo/PayloadsAllTheThings',
 'THUDM/ChatGLM3',
 'PaddlePaddle/PaddleOCR',
 'langchain-ai/langchain',
 'dataelement/bisheng',
 'Azure/MS-AMP',
 'xxlong0/Wonder3D',
 'yunjey/pytorch-tutorial',
 'facebookresearch/llama',
 'localstack/localstack',
 'OpenBMB/ChatDev',
 'ray-project/ray',
 'CycodeLabs/raven',
 'ageitgey/face_recognition',
 'iam-veeramalla/aws-devops-zero-to-hero',
 'openai/whisper',
 'sqlfluff/sqlfluff',
 'imartinez/privateGPT',
 'reflex-dev/reflex',
 'donnemartin/system-design-primer',
 'lm-sys/FastChat',
 'togethercomputer/RedPajama-Data',
 'SkyworkAI/Skywork',
 'microsoft/qlib',
 'pathwaycom/llm-app']

#### Display all the image links from Walt Disney wikipedia page

In [17]:
# This is the url you will scrape in this exercise
urldisney = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [18]:
driver.get(urldisney)

In [19]:
images = driver.find_elements(By.TAG_NAME, 'img')

In [20]:
images[0].get_attribute('src')

'https://en.wikipedia.org/static/images/icons/wikipedia.png'

In [21]:
list_of_links = []
for image in images:
    list_of_links.append(image.get_attribute('src')) 

list_of_links[5:-17]

['https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/220px-Steamboat-willie.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Nuvola_apps_kaboodle.svg/16px-Nuvola_apps_kaboodle.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [22]:
# This is the url you will scrape in this exercise
urlpython ='https://en.wikipedia.org/wiki/Python'

In [23]:
driver.get(urlpython)

In [24]:
links = driver.find_elements(By.TAG_NAME, 'a')

In [25]:
links = driver.find_elements(By.TAG_NAME, 'a')
link_list= []
for link in links:
    link_list.append(link.get_attribute('href'))

In [26]:
link_list[:10]

['https://en.wikipedia.org/wiki/Python#bodyContent',
 'https://en.wikipedia.org/wiki/Main_Page',
 'https://en.wikipedia.org/wiki/Wikipedia:Contents',
 'https://en.wikipedia.org/wiki/Portal:Current_events',
 'https://en.wikipedia.org/wiki/Special:Random',
 'https://en.wikipedia.org/wiki/Wikipedia:About',
 'https://en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 'https://en.wikipedia.org/wiki/Help:Contents',
 'https://en.wikipedia.org/wiki/Help:Introduction']

#### Number of Titles that have changed in the United States Code since its last release point

In [27]:
# This is the url you will scrape in this exercise
urltitles = 'http://uscode.house.gov/download/download.shtml'

In [28]:
driver.get(urltitles)

In [29]:
[e.text for e in driver.find_elements(By.CLASS_NAME, 'usctitlechanged')]

['Title 20 - Education', "Title 38 - Veterans' Benefits ٭"]

#### A Python list with the top ten FBI's Most Wanted names

In [30]:
# This is the url you will scrape in this exercise
urlfbi = 'https://www.fbi.gov/wanted/topten'

In [31]:
driver.get(urlfbi)

In [32]:
most_wanted = driver.find_elements(By.CLASS_NAME, 'title')[1:]
most_wanted_list = []
for murderer in most_wanted:
    most_wanted_list.append(murderer.text)
most_wanted_list

['ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'DONALD EUGENE FIELDS II',
 'RUJA IGNATOVA',
 'WILVER VILLEGAS-PALOMINO',
 'ALEJANDRO ROSALES CASTILLO',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [101]:
# This is the url you will scrape in this exercise
urlqueakes = 'https://www.emsc-csem.org/Earthquake/'

In [102]:
driver.get(urlqueakes)

In [125]:
rows = driver.find_element(By.CLASS_NAME, 'eqs.table-scroll').find_element(By.TAG_NAME, 'tbody').find_elements(By.TAG_NAME, 'tr')
data = []
for row in rows:
    cols = row.find_elements(By.TAG_NAME ,"td")
    raw_data = []
    for col in cols:
        raw_data.append(col.text)

    data.append(raw_data)

In [156]:
clean_body=[]
for d in data[:20]:
    clean_data=[]
    for e in d[:-1]:
        if e !='':
            clean_data.append(e)
    
    clean_body.append(clean_data)

columns=['Date & Time (UTC)','Lat.Degrees','Lon.Degrees','Depth km','Mag.[+]','Region']
pd.DataFrame(clean_body, columns=columns)

,Date & Time (UTC),Lat.Degrees,Lon.Degrees,Depth km,Mag.[+],Region
0,2023-11-01 16:58:32\n34 min ago,17.970,-66.882,13,2.3,PUERTO RICO
1,2023-11-01 16:53:15\n40 min ago,28.049,-17.147,12,2.1,"CANARY ISLANDS, SPAIN REGION"
2,2023-11-01 16:51:21\n42 min ago,-0.550,122.930,10,2.9,"SULAWESI, INDONESIA"
3,2023-11-01 16:36:34\n56 min ago,7.371,-80.606,8,3.3,PANAMA
4,2023-11-01 16:33:42\n59 min ago,-9.130,117.510,10,3.3,"SUMBAWA REGION, INDONESIA"
5,2023-11-01 16:32:24\n1 hr 01 min ago,-9.090,117.500,10,3.3,"SUMBAWA REGION, INDONESIA"
6,2023-11-01 16:25:29\n1 hr 08 min ago,-0.800,126.840,10,3.5,MOLUCCA SEA
7,2023-11-01 16:21:43\n1 hr 11 min ago,-3.710,131.230,10,3.8,"CERAM SEA, INDONESIA"
8,2023-11-01 16:08:37\n1 hr 24 min ago,-32.700,-71.690,35,2.6,"OFFSHORE VALPARAISO, CHILE"
9,2023-11-01 15:53:07\n1 hr 40 min ago,61.855,-148.042,23,3.8,SOUTHERN ALASKA
10,2023-11-01 15:36:52\n1 hr 56 min ago,11.940,-86.820,44,3.6,NEAR COAST OF NICARAGUA
11,2023-11-01 15:23:02\n2 hr 10 min ago,-21.190,-68.910,111,2.6,"TARAPACA, CHILE"
12,2023-11-01 15:14:13\n2 hr 19 min ago,36.891,-2.999,13,2.2,STRAIT OF GIBRALTAR
13,2023-11-01 15:09:09\n2 hr 24 min ago,11.840,125.640,19,3.0,"SAMAR, PHILIPPINES"
14,2023-11-01 15:03:32\n2 hr 30 min ago,40.528,-123.568,5,2.4,NORTHERN CALIFORNIA
15,2023-11-01 14:49:46\n2 hr 43 min ago,59.976,10.946,8,3.0,SOUTHERN NORWAY
16,2023-11-01 14:45:25\n2 hr 48 min ago,0.140,124.260,75,3.5,"MINAHASA, SULAWESI, INDONESIA"
17,2023-11-01 14:38:02\n2 hr 55 min ago,36.839,-3.007,13,1.8,STRAIT OF GIBRALTAR
18,2023-11-01 14:35:25\n2 hr 58 min ago,13.820,120.520,50,3.6,"MINDORO, PHILIPPINES"
19,2023-11-01 14:33:41\n2 hr 59 min ago,37.600,21.830,11,2.5,SOUTHERN GREECE

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [37]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
urltwit = 'https://twitter.com/elonmusk'

In [38]:
driver.get(urltwit)

In [39]:
twitts = driver.find_element(By.XPATH, '//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div[1]/div/div[1]/div[1]/div/div/div/div/div/div[2]/div/div')
twitts.text

'32.7K posts'

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [40]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
urltwit = 'https://twitter.com/elonmusk'

In [43]:
driver.get(urltwit)

In [44]:
followers = driver.find_element(By.XPATH, '//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div[1]/div/div[3]/div/div/div/div/div[4]/div[2]/a')
followers.text

'161.7M Followers'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [45]:
# This is the url you will scrape in this exercise
urlpedia = 'https://www.wikipedia.org/'

In [46]:
driver.get(urlpedia)

In [47]:
languages_and_articles = driver.find_element(By.CSS_SELECTOR, '#www-wikipedia-org > div.central-featured').find_elements(By.TAG_NAME, 'a')
langartlist = []

for e in languages_and_articles:
    langartlist.append(e.text)

clean_list = []
for e in langartlist:
    clean_list.append(e.replace('\n', ' '))

In [48]:
clean_list

['English 6 715 000+ articles',
 '日本語 1 387 000+ 記事',
 'Español 1 892 000+ artículos',
 'Русский 1 938 000+ статей',
 'Deutsch 2 836 000+ Artikel',
 'Français 2 553 000+ articles',
 'Italiano 1 826 000+ voci',
 '中文 1 377 000+ 条目 / 條目',
 'Português 1 109 000+ artigos',
 'العربية 1 217 000+ مقالة']

#### A list with the different kind of datasets available in data.gov.uk

In [49]:
# This is the url you will scrape in this exercise
urluk = 'https://data.gov.uk/'

In [50]:
driver.get(urluk)

In [51]:
sets = driver.find_elements(By.CLASS_NAME, 'govuk-link')

datasets = []

for e in sets:
    datasets.append(e.text)

datasets[4:]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [168]:
# This is the url you will scrape in this exercise
urllangs = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [169]:
driver.get(urllangs)

In [170]:
rows = driver.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[1]').find_element(By.TAG_NAME, 'tbody').find_elements(By.TAG_NAME, 'tr')

In [171]:
data = []
for row in rows:
    cols = row.find_elements(By.TAG_NAME ,"td")
    raw_data = []
    for col in cols:
        raw_data.append(col.text)

    data.append(raw_data)

In [180]:
columns = ['Language','Native Speakers (Millions)','Language Family','Branch',]
pd.DataFrame(data[1:10],columns=columns)

,Language,Native Speakers (Millions),Language Family,Branch
0,"Mandarin Chinese\n(incl. Standard Chinese, but...",939,Sino-Tibetan,Sinitic
1,Spanish,485,Indo-European,Romance
2,English,380,Indo-European,Germanic
3,"Hindi\n(excl. Urdu, and other languages)",345,Indo-European,Indo-Aryan
4,Portuguese,236,Indo-European,Romance
5,Bengali,234,Indo-European,Indo-Aryan
6,Russian,147,Indo-European,Balto-Slavic
7,Japanese,123,Japonic,Japanese
8,Yue Chinese\n(incl. Cantonese),86.1,Sino-Tibetan,Sinitic

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
#driver.quit()

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
urltwitts = 'https://twitter.com/elonmusk'

In [ ]:
driver.get(urltwitts)

In [ ]:
driver.find_elements(By.XPATH, '#//*[@id="id__6luw5r2xz7p"]')

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code