# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from selenium.webdriver.common.by import By

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [500]:
'''
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')
'''

"\n#driver configuration\nopciones=Options()\n\nopciones.add_experimental_option('excludeSwitches', ['enable-automation'])\nopciones.add_experimental_option('useAutomationExtension', False)\nopciones.headless=False    # si True, no aperece la ventana (headless=no visible)\nopciones.add_argument('--start-maximized')         # comienza maximizado\n#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies\n#opciones.add_extension('driver_folder/adblock.crx')       # adblocker\nopciones.add_argument('--incognito')\n"

In [4]:
PATH = 'driver/chromedriver'

driver = webdriver.Chrome(PATH) 

#driver = webdriver.Chrome(options = opciones)

C:\Users\matia\AppData\Local\Temp\ipykernel_25744\1831233635.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [5]:
import requests as req

from bs4 import BeautifulSoup as bs

In [503]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [504]:
html=req.get(url).text

sopa=bs(html, 'html.parser')

In [505]:
driver = webdriver.Chrome(PATH, options=opciones)

driver.get(url)

C:\Users\matia\AppData\Local\Temp\ipykernel_9640\624065238.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH, options=opciones)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [506]:
[e.text.split('\n')for e in driver.find_elements(By.CSS_SELECTOR ,' div.d-sm-flex.flex-auto > div.col-sm-8.d-md-flex > div:nth-child(1)')]

[['Ismail Pelaseyed', 'homanp'],
 ['Chris Banes', 'chrisbanes'],
 ['Travis Cline', 'tmc'],
 ['Xiaoyu Zhang', 'BBuf'],
 ['Stefan Prodan', 'stefanprodan'],
 ['Pedro Cattori', 'pcattori'],
 ['lllyasviel'],
 ['Arvin Xu', 'arvinxx'],
 ['Howard Wu', 'howardwu'],
 ['Shahed Nasser', 'shahednasser'],
 ['Kailash Nadh', 'knadh'],
 ['Mattt', 'mattt'],
 ['kixelated'],
 ['Brad Fitzpatrick', 'bradfitz'],
 ['Miško Hevery', 'mhevery'],
 ['Andrew Lock', 'andrewlock'],
 ['Brian Smith', 'briansmith'],
 ['Numan', 'numandev1'],
 ['Fons van der Plas', 'fonsp'],
 ['Leonid Bugaev', 'buger'],
 ['wū yāng', 'uyarn'],
 ['Steven Nguyen', 'stnguyen90'],
 ['Argo Zhang', 'ArgoZhang'],
 ['Josh Stein', 'jcstein'],
 ['Mike McNeil', 'mikermcneil']]

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [507]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'
driver.get(url)

In [508]:
x =driver.find_elements(By.CSS_SELECTOR, 'h2 > a')

repo = [e.text for e in x]
repo

['swisskyrepo / PayloadsAllTheThings',
 'THUDM / ChatGLM3',
 'PaddlePaddle / PaddleOCR',
 'langchain-ai / langchain',
 'dataelement / bisheng',
 'Azure / MS-AMP',
 'xxlong0 / Wonder3D',
 'yunjey / pytorch-tutorial',
 'facebookresearch / llama',
 'localstack / localstack',
 'OpenBMB / ChatDev',
 'ray-project / ray',
 'CycodeLabs / raven',
 'ageitgey / face_recognition',
 'iam-veeramalla / aws-devops-zero-to-hero',
 'openai / whisper',
 'sqlfluff / sqlfluff',
 'imartinez / privateGPT',
 'reflex-dev / reflex',
 'donnemartin / system-design-primer',
 'lm-sys / FastChat',
 'togethercomputer / RedPajama-Data',
 'SkyworkAI / Skywork',
 'microsoft / qlib',
 'pathwaycom / llm-app']

#### Display all the image links from Walt Disney wikipedia page

In [509]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
driver.get(url)

In [510]:
fotos = driver.find_elements(By.TAG_NAME, 'img')
links= [e.get_attribute('src') for e in fotos]

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [511]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python' 
driver.get(url)

In [512]:
wiki = driver.find_elements(By.TAG_NAME, 'a')
links= [e.get_attribute('href') for e in wiki]

#### Number of Titles that have changed in the United States Code since its last release point

In [513]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
driver.get(url)

In [514]:
x =driver.find_elements(By.CLASS_NAME, 'usctitle')
titulos = [e.text for e in x][2:]
titulos

['Title 1 - General Provisions ٭',
 'Title 2 - The Congress',
 'Title 3 - The President ٭',
 'Title 4 - Flag and Seal, Seat of Government, and the States ٭',
 'Title 5 - Government Organization and Employees ٭',
 'Title 6 - Domestic Security',
 'Title 7 - Agriculture',
 'Title 8 - Aliens and Nationality',
 'Title 9 - Arbitration ٭',
 'Title 10 - Armed Forces ٭',
 'Title 11 - Bankruptcy ٭',
 'Title 12 - Banks and Banking',
 'Title 13 - Census ٭',
 'Title 14 - Coast Guard ٭',
 'Title 15 - Commerce and Trade',
 'Title 16 - Conservation',
 'Title 17 - Copyrights ٭',
 'Title 18 - Crimes and Criminal Procedure ٭',
 'Title 19 - Customs Duties',
 'Title 21 - Food and Drugs',
 'Title 22 - Foreign Relations and Intercourse',
 'Title 23 - Highways ٭',
 'Title 24 - Hospitals and Asylums',
 'Title 25 - Indians',
 'Title 26 - Internal Revenue Code',
 'Title 27 - Intoxicating Liquors',
 'Title 28 - Judiciary and Judicial Procedure ٭',
 'Title 29 - Labor',
 'Title 30 - Mineral Lands and Mining',
 'Title 31 - Money and Finance ٭',
 'Title 32 - National Guard ٭',
 'Title 33 - Navigation and Navigable Waters',
 'Title 34 - Crime Control and Law Enforcement',
 'Title 35 - Patents ٭',
 'Title 36 - Patriotic and National Observances, Ceremonies, and Organizations ٭',
 'Title 37 - Pay and Allowances of the Uniformed Services ٭',
 'Title 39 - Postal Service ٭',
 'Title 40 - Public Buildings, Property, and Works ٭',
 'Title 41 - Public Contracts ٭',
 'Title 42 - The Public Health and Welfare',
 'Title 43 - Public Lands',
 'Title 44 - Public Printing and Documents ٭',
 'Title 45 - Railroads',
 'Title 46 - Shipping ٭',
 'Title 47 - Telecommunications',
 'Title 48 - Territories and Insular Possessions',
 'Title 49 - Transportation ٭',
 'Title 50 - War and National Defense',
 'Title 51 - National and Commercial Space Programs ٭',
 'Title 52 - Voting and Elections',
 'Title 53 [Reserved]',
 'Title 54 - National Park Service and Related Programs ٭']

#### A Python list with the top ten FBI's Most Wanted names

In [515]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
driver.get(url)

In [516]:
x = driver.find_elements(By.CSS_SELECTOR, ' h3 > a')
top_chorros = [e.text for e in x]
top_chorros

['ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'DONALD EUGENE FIELDS II',
 'RUJA IGNATOVA',
 'WILVER VILLEGAS-PALOMINO',
 'ALEJANDRO ROSALES CASTILLO',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [22]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'
driver.get(url)

In [23]:
import pandas as pd

In [24]:
tabla = driver.find_element(By.XPATH, '/html/body/div[3]/div[6]/table')

tabla

In [25]:
cuerpo = tabla.find_element(By.TAG_NAME, 'tbody')


filas = cuerpo.find_elements(By.TAG_NAME, 'tr')

In [26]:
matriz = []


for f in filas:
    
    tmp = []
    
    elems = f.find_elements(By.TAG_NAME, 'td')  # esto es una lista
    
    for e in elems:
        
        tmp.append(e.text)
        
    matriz.append(tmp)

In [27]:
cabecera = tabla.find_element(By.TAG_NAME, 'thead')

len(cabecera.find_elements(By.TAG_NAME, 'th'))

8

In [28]:
columnas = [i for i in range(10)]


df = pd.DataFrame(matriz, columns=columnas)

df = df[[3, 4, 5, 6, 8, 9]]

In [29]:
n_cols = [e.text for e in cabecera.find_elements(By.TAG_NAME, 'th')]

In [30]:
n_cols[2:]

['Date & Time\nUTC',
 'Lat.\ndegrees',
 'Lon.\ndegrees',
 'Depth\nkm',
 'Mag.[+]',
 'Region']

In [31]:
df.columns = n_cols[2:]

In [32]:
df

,Date & Time\nUTC,Lat.\ndegrees,Lon.\ndegrees,Depth\nkm,Mag.[+],Region
0,2023-11-02 12:47:37\n9 min ago,38.506,39.638,18,2.1,EASTERN TURKEY
1,2023-11-02 12:46:08\n11 min ago,37.937,36.224,3,2.8,CENTRAL TURKEY
2,2023-11-02 12:43:14\n14 min ago,-5.650,102.780,18,4.0,"SOUTHERN SUMATRA, INDONESIA"
3,2023-11-02 12:30:05\n27 min ago,63.927,28.681,14,1.4,FINLAND
4,2023-11-02 12:21:43\n35 min ago,45.956,1.403,5,2.6,FRANCE
...,...,...,...,...,...,...
95,2023-11-02 02:32:25\n10 hr 25 min ago,38.110,36.779,2,2.6,CENTRAL TURKEY
96,2023-11-02 02:28:24\n10 hr 29 min ago,40.776,19.961,15,2.2,ALBANIA
97,2023-11-02 02:15:47\n10 hr 41 min ago,48.310,2.037,4,2.3,FRANCE
98,2023-11-02 02:01:37\n10 hr 55 min ago,33.208,-116.745,8,2.1,SOUTHERN CALIFORNIA
99,2023-11-02 01:23:59\n11 hr 33 min ago,54.364,-159.786,35,2.4,SOUTH OF ALASKA

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [17]:
cuenta = 'elonmusk'

driver = webdriver.Chrome(PATH)
url = f'https://twitter.com/{cuenta}'

driver.get(url)

C:\Users\matia\AppData\Local\Temp\ipykernel_25744\1572522566.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

In [18]:
selector = 'div > div > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010 > main > div > div > div > div > div > div.css-1dbjc4n.r-aqfbo4.r-gtdqiz.r-1gn8etr.r-1g40b8q > div:nth-child(1) > div > div > div > div > div > div.css-1dbjc4n.r-16y2uox.r-1wbh5a2.r-1pi2tsx.r-1777fci > div > div'


numero = driver.find_element(By.CSS_SELECTOR, selector)


numero.text.split()[0].replace(',', '.')

'32.7K'

In [19]:
def sacar_data_twitter(cuenta):
    
    url = f'https://twitter.com/{cuenta}'
    
    driver = webdriver.Chrome(PATH)
    
    try:
    
        driver.get(url)
        
        time.sleep(3)  # duerme el codigo 3 segundos

        selector = 'div > div > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010 > main > div > div > div > div > div > div.css-1dbjc4n.r-aqfbo4.r-gtdqiz.r-1gn8etr.r-1g40b8q > div:nth-child(1) > div > div > div > div > div > div.css-1dbjc4n.r-16y2uox.r-1wbh5a2.r-1pi2tsx.r-1777fci > div > div'

        numero = driver.find_element(By.CSS_SELECTOR, selector)


        numero = int(float(numero.text.split()[0].replace(',', '.')) * 1000)
        
    except:
        
        numero = 0
        
        
    driver.quit()

    return numero

In [21]:
sacar_data_twitter('elonmusk')

C:\Users\matia\AppData\Local\Temp\ipykernel_25744\4208796535.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

0

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [520]:

#No se hace

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [521]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
driver.get(url)

In [522]:
x = driver.find_elements(By.CSS_SELECTOR, ' div.central-featured')[0].text.split('\n')
x

['English',
 '6 715 000+ articles',
 '日本語',
 '1 387 000+ 記事',
 'Español',
 '1 892 000+ artículos',
 'Русский',
 '1 938 000+ статей',
 'Deutsch',
 '2 836 000+ Artikel',
 'Français',
 '2 553 000+ articles',
 'Italiano',
 '1 826 000+ voci',
 '中文',
 '1 377 000+ 条目 / 條目',
 'Português',
 '1 109 000+ artigos',
 'العربية',
 '1 217 000+ مقالة']

#### A list with the different kind of datasets available in data.gov.uk

In [523]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
driver.get(url)

In [524]:
x = driver.find_elements(By.CSS_SELECTOR,  'h3 > a')

datasets = [e.text for e in x]
datasets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [525]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
driver.get(url)

In [530]:
x = driver.find_elements(By.CSS_SELECTOR, '  td:nth-child(2)')
idiomas = [e.text for e in x]
idiomas = idiomas[:10]

y = driver.find_elements(By.CSS_SELECTOR, 'td:nth-child(1)')
language = [e.text for e in y]
language = language[:10]

df = pd.DataFrame({
    'Language': language,
    'Edad': idiomas})
df

                                            Language  Edad
0  Mandarin Chinese\n(incl. Standard Chinese, but...   939
1                                            Spanish   485
2                                            English   380
3           Hindi\n(excl. Urdu, and other languages)   345
4                                         Portuguese   236
5                                            Bengali   234
6                                            Russian   147
7                                           Japanese   123
8                     Yue Chinese\n(incl. Cantonese)  86.1
9                                         Vietnamese  85.0

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [210]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [211]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [212]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [213]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [214]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [215]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [216]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [217]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [218]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [219]:
#your code