# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [37]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [12]:
driver = webdriver.Chrome(opciones)

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [4]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [13]:
driver.get(url)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [6]:
article = driver.find_elements(By.CSS_SELECTOR, 'article')[0].text.split('\n')

In [7]:
name = article[1]
nick = article[2]

In [8]:
names = [e.text.split('\n')[1] for e in driver.find_elements(By.CSS_SELECTOR, 'article')
         if e.text.split('\n')[0].isnumeric()]

In [9]:
nicks = [e.text.split('\n')[2] for e in driver.find_elements(By.CSS_SELECTOR, 'article')
         if e.text.split('\n')[0].isnumeric()]

In [10]:
nicks

['homanp',
 'chrisbanes',
 'tmc',
 'BBuf',
 'stefanprodan',
 'pcattori',
 'POPULAR REPO',
 'arvinxx',
 'howardwu',
 'shahednasser',
 'knadh',
 'mattt',
 'POPULAR REPO',
 'bradfitz',
 'mhevery',
 'andrewlock',
 'briansmith',
 'numandev1',
 'fonsp',
 'buger',
 'uyarn',
 'stnguyen90',
 'ArgoZhang',
 'jcstein',
 'mikermcneil']

In [11]:
users = []
for i in range(len(names)):
    if nicks[i] != 'POPULAR REPO':
        users.append(f'{names[i]} ({nicks[i]})')
    else:
        users.append(f'{names[i]}')
        
len(users)

25

In [12]:
users[:5]

['Ismail Pelaseyed (homanp)',
 'Chris Banes (chrisbanes)',
 'Travis Cline (tmc)',
 'Xiaoyu Zhang (BBuf)',
 'Stefan Prodan (stefanprodan)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [13]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [14]:
driver.get(url)

In [15]:
driver.find_elements(By.CSS_SELECTOR, 'h2.h3.lh-condensed')[0].text.split()[-1]

'PayloadsAllTheThings'

In [16]:
repositories = [e.text.split()[-1] for e in driver.find_elements(By.CSS_SELECTOR, 'h2.h3.lh-condensed')]

len(repositories)

25

In [17]:
repositories[:5]

['PayloadsAllTheThings', 'ChatGLM3', 'PaddleOCR', 'langchain', 'bisheng']

#### Display all the image links from Walt Disney wikipedia page

In [18]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [19]:
driver.get(url)

In [20]:
imgs = [e.get_attribute('src') for e in driver.find_elements(By.CSS_SELECTOR, 'img.mw-file-element')][2:]

imgs[:2]

['https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [21]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [22]:
driver.get(url)

In [23]:
driver.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/ul[2]/li[1]/a').click()

In [24]:
links = [e.get_attribute('href') for e in driver.find_elements(By.CSS_SELECTOR, 'a')]

links[:2]

['https://en.wikipedia.org/wiki/Python_(programming_language)#bodyContent',
 'https://en.wikipedia.org/wiki/Main_Page']

#### Number of Titles that have changed in the United States Code since its last release point

In [25]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [26]:
driver.get(url)

In [27]:
changed = [e.text for e in driver.find_elements(By.CSS_SELECTOR, 'div.usctitlechanged')]

changed

['Title 20 - Education', "Title 38 - Veterans' Benefits ٭"]

#### A Python list with the top ten FBI's Most Wanted names

In [28]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [29]:
driver.get(url)

In [30]:
most_wanted = [e.text for e in driver.find_elements(By.CSS_SELECTOR, 'li.portal-type-person.castle-grid-block-item')]

most_wanted

['ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'DONALD EUGENE FIELDS II',
 'RUJA IGNATOVA',
 'WILVER VILLEGAS-PALOMINO',
 'ALEJANDRO ROSALES CASTILLO',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [31]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [32]:
driver.get(url)

In [35]:
# scroll down to load whole table
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [45]:
table = driver.find_element(By.CSS_SELECTOR, 'table.eqs.table-scroll')

In [62]:
columns = [e.text.replace('\n', ' ') for e in table.find_element(By.CSS_SELECTOR, 'thead').find_elements(By.CSS_SELECTOR, 'th')][1:]

columns

['Citizen response',
 'Date & Time UTC',
 'Lat. degrees',
 'Lon. degrees',
 'Depth km',
 'Mag.[+]',
 'Region']

In [77]:
rows = table.find_element(By.CSS_SELECTOR, 'tbody').find_elements(By.CSS_SELECTOR, 'tr')

In [88]:
rows[0].find_elements(By.CSS_SELECTOR, 'td')[3].text

'2023-11-01 15:14:13\n15 min ago'

In [96]:
row_data = []

for r in rows:
    data = [e for e in r.find_elements(By.CSS_SELECTOR, 'td')]
    
    temp = []
    for d in data:
        if d.text:
            temp.append(d.text)
            
    row_data.append(temp)
    
row_data[:2]

[['2023-11-01 15:14:13\n24 min ago',
  '36.891',
  '-2.999',
  '13',
  '2.2',
  'STRAIT OF GIBRALTAR'],
 ['2023-11-01 15:09:09\n29 min ago',
  '11.840',
  '125.640',
  '19',
  '3.0',
  'SAMAR, PHILIPPINES']]

In [99]:
columns

['Citizen response',
 'Date & Time UTC',
 'Lat. degrees',
 'Lon. degrees',
 'Depth km',
 'Mag.[+]',
 'Region']

In [101]:
earthquakes = pd.DataFrame(row_data, columns=columns[1:])

In [102]:
earthquakes.head()

,Date & Time UTC,Lat. degrees,Lon. degrees,Depth km,Mag.[+],Region
0,2023-11-01 15:14:13\n24 min ago,36.891,-2.999,13,2.2,STRAIT OF GIBRALTAR
1,2023-11-01 15:09:09\n29 min ago,11.840,125.640,19,3.0,"SAMAR, PHILIPPINES"
2,2023-11-01 15:03:32\n35 min ago,40.528,-123.568,5,2.4,NORTHERN CALIFORNIA
3,2023-11-01 14:49:46\n48 min ago,59.976,10.946,8,3.0,SOUTHERN NORWAY
4,2023-11-01 14:45:25\n53 min ago,0.140,124.260,75,3.5,"MINAHASA, SULAWESI, INDONESIA"

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [6]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
account = 'chocu_'

url = f'https://twitter.com/{account}'

In [35]:
driver = webdriver.Chrome(opciones)

In [36]:
driver.get(url)

In [28]:
tweets = driver.find_element(By.CSS_SELECTOR, '#react-root > div > div > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010 > main > div > div > div > div > div > div.css-1dbjc4n.r-aqfbo4.r-gtdqiz.r-1gn8etr.r-1g40b8q > div:nth-child(1) > div > div > div > div > div > div.css-1dbjc4n.r-16y2uox.r-1wbh5a2.r-1pi2tsx.r-1777fci > div > div')

tweets.text

'48,7 mil posts'

In [40]:
def get_tweets(account):
    
    url = f'https://twitter.com/{account}'
    
    driver = webdriver.Chrome(opciones)
    
    try:
        
        driver.get(url)
        
        time.sleep(3)
        
        selector = '#react-root > div > div > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010 > main > div > div > div > div > div > div.css-1dbjc4n.r-aqfbo4.r-gtdqiz.r-1gn8etr.r-1g40b8q > div:nth-child(1) > div > div > div > div > div > div.css-1dbjc4n.r-16y2uox.r-1wbh5a2.r-1pi2tsx.r-1777fci > div > div'
        
        number = driver.find_element(By.CSS_SELECTOR, selector).text
        
    except:
        
        number = 0
     
    driver.quit()
    
    return number

In [42]:
get_tweets('RataUnderground')

'102,5 mil posts'

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [4]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
account = 'chocu_'

url = f'https://twitter.com/{account}'

In [118]:
followers = driver.find_element(By.XPATH, '//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div/div/div[3]/div/div/div/div/div[5]/div[2]/a/span[1]/span').text

followers

'35,8 mil'

In [50]:
def get_followers(account):
    
    url = f'https://twitter.com/{account}'
    
    driver = webdriver.Chrome(opciones)
    
    try:
        
        driver.get(url)
        
        time.sleep(3)
        
        selector = '#react-root > div > div > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010 > main > div > div > div > div > div > div:nth-child(3) > div > div > div > div > div.css-1dbjc4n.r-13awgt0.r-18u37iz.r-1w6e6rj > div:nth-child(2) > a > span.css-901oao.css-16my406.r-1nao33i.r-poiln3.r-1b43r93.r-b88u0q.r-1cwl3u0.r-bcqeeo.r-qvutc0 > span'
        
        number = driver.find_element(By.CSS_SELECTOR, selector).text
        
    except:
        
        number = 0
     
    driver.quit()
    
    return number

In [52]:
get_followers('RatUnderground') # me sale error porque me bloqueó twitter de tanto acceder a la web pero funciona

0

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [119]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [120]:
driver.get(url)

In [131]:
body = driver.find_element(By.CSS_SELECTOR, 'div.central-featured')

In [143]:
langs = body.find_elements(By.CSS_SELECTOR, 'strong')
nums = body.find_elements(By.CSS_SELECTOR, 'small')

In [144]:
langs = [e.text for e in langs]

nums = [e.text.split('+')[0] for e in nums]

In [145]:
dict(zip(langs, nums))

{'Español': '1 892 000',
 'English': '6 715 000',
 '日本語': '1 387 000',
 'Русский': '1 938 000',
 'Deutsch': '2 836 000',
 'Français': '2 553 000',
 'Italiano': '1 826 000',
 '中文': '1 377 000',
 'Português': '1 109 000',
 'العربية': '1 217 000'}

#### A list with the different kind of datasets available in data.gov.uk

In [146]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [147]:
driver.get(url)

In [153]:
ds_list = driver.find_element(By.CSS_SELECTOR, 'ul.govuk-list.dgu-topics__list')

ds_list.find_elements(By.CSS_SELECTOR, 'li')[0].text.split('\n')[0]

'Business and economy'

In [155]:
ds = [e.text.split('\n')[0] for e in ds_list.find_elements(By.CSS_SELECTOR, 'li')]

ds

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [157]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [159]:
driver.get(url)

In [162]:
table = driver.find_element(By.CSS_SELECTOR, 'table.wikitable.sortable.static-row-numbers.jquery-tablesorter')

In [168]:
cols = [e.text.replace('\n', ' ') for e in table.find_elements(By.CSS_SELECTOR, 'th')]

cols

['Language', 'Native speakers (millions)', 'Language family', 'Branch']

In [178]:
rows = table.find_elements(By.CSS_SELECTOR, 'tr')[1:]

rows = [e.find_elements(By.CSS_SELECTOR, 'td') for e in rows]

In [187]:
data = []

for i in range(10):
    temp = []
    
    for d in rows[i]:
        temp.append(d.text.replace('\n', ' '))
        
    data.append(temp)
    
data[:1]

[['Mandarin Chinese (incl. Standard Chinese, but excl. other varieties)',
  '939',
  'Sino-Tibetan',
  'Sinitic']]

In [188]:
pd.DataFrame(data, columns=cols)

,Language,Native speakers (millions),Language family,Branch
0,"Mandarin Chinese (incl. Standard Chinese, but ...",939,Sino-Tibetan,Sinitic
1,Spanish,485,Indo-European,Romance
2,English,380,Indo-European,Germanic
3,"Hindi (excl. Urdu, and other languages)",345,Indo-European,Indo-Aryan
4,Portuguese,236,Indo-European,Romance
5,Bengali,234,Indo-European,Indo-Aryan
6,Russian,147,Indo-European,Balto-Slavic
7,Japanese,123,Japonic,Japanese
8,Yue Chinese (incl. Cantonese),86.1,Sino-Tibetan,Sinitic
9,Vietnamese,85.0,Austroasiatic,Vietic

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [4]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [5]:
driver.get(url)

In [6]:
cols = ['movie_name', 'initial_release', 'director_name', 'stars']

In [9]:
top = driver.find_element(By.CSS_SELECTOR, 'ul.ipc-metadata-list.ipc-metadata-list--dividers-between.sc-9d2f6de0-0.ckQYbL.compact-list-view.ipc-metadata-list--base')

In [20]:
top.find_elements(By.CSS_SELECTOR, 'a.ipc-title-link-wrapper')[0].get_attribute('href')

'https://www.imdb.com/title/tt0111161/?ref_=chttp_t_1'

In [21]:
links = [e.get_attribute('href') for e in top.find_elements(By.CSS_SELECTOR, 'a.ipc-title-link-wrapper')]

len(links)

250

In [24]:
driver.get(links[1])

In [31]:
movie_name = driver.find_element(By.XPATH, '//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/h1/span').text

initial_release = driver.find_element(By.XPATH, '//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[1]/a').text

director_name = driver.find_element(By.XPATH, '//*[@id="__next"]/main/div/section[1]/div/section/div/div[1]/section[4]/ul/li[1]/div/ul/li/a').text

stars = driver.find_element(By.XPATH, '//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[2]/div[1]/div/div[1]/a/span/div/div[2]/div[1]').text.replace('\n', '')

'9,2/10'

In [34]:
data = []

for link in links:
    temp = []
    
    driver.get(link)
    
    movie_name = driver.find_element(By.XPATH, '//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/h1/span').text
    temp.append(movie_name)
    initial_release = driver.find_element(By.XPATH, '//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[1]/a').text
    temp.append(initial_release)
    director_name = driver.find_element(By.XPATH, '//*[@id="__next"]/main/div/section[1]/div/section/div/div[1]/section[4]/ul/li[1]/div/ul/li/a').text
    temp.append(director_name)
    stars = driver.find_element(By.XPATH, '//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[2]/div[1]/div/div[1]/a/span/div/div[2]/div[1]').text.replace('\n', '')
    temp.append(stars)
    
    data.append(temp)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="__next"]/main/div/section[1]/div/section/div/div[1]/section[4]/ul/li[1]/div/ul/li/a"}
  (Session info: chrome=119.0.6045.106); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF71A0F82B2+55298]
	(No symbol) [0x00007FF71A065E02]
	(No symbol) [0x00007FF719F205AB]
	(No symbol) [0x00007FF719F6175C]
	(No symbol) [0x00007FF719F618DC]
	(No symbol) [0x00007FF719F9CBC7]
	(No symbol) [0x00007FF719F820EF]
	(No symbol) [0x00007FF719F9AAA4]
	(No symbol) [0x00007FF719F81E83]
	(No symbol) [0x00007FF719F5670A]
	(No symbol) [0x00007FF719F57964]
	GetHandleVerifier [0x00007FF71A470AAB+3694587]
	GetHandleVerifier [0x00007FF71A4C728E+4048862]
	GetHandleVerifier [0x00007FF71A4BF173+4015811]
	GetHandleVerifier [0x00007FF71A1947D6+695590]
	(No symbol) [0x00007FF71A070CE8]
	(No symbol) [0x00007FF71A06CF34]
	(No symbol) [0x00007FF71A06D062]
	(No symbol) [0x00007FF71A05D3A3]
	BaseThreadInitThunk [0x00007FFA52F67344+20]
	RtlUserThreadStart [0x00007FFA53C226B1+33]

Me reventó a los 44, mi ordenador es muy lento así que no voy a volverlo a intentar, ya en coger estos 44 tardó 15 minutos.

In [42]:
pd.DataFrame(data, columns=cols)

,movie_name,initial_release,director_name,stars
0,Cadena perpetua,1994,Frank Darabont,"9,3/10"
1,El padrino,1972,Francis Ford Coppola,"9,2/10"
2,El caballero oscuro,2008,Christopher Nolan,"9,0/10"
3,El padrino (parte II),1974,Francis Ford Coppola,"9,0/10"
4,12 hombres sin piedad,1957,Sidney Lumet,"9,0/10"
5,La lista de Schindler,1993,Steven Spielberg,"9,0/10"
6,El señor de los anillos: El retorno del rey,2003,Peter Jackson,"9,0/10"
7,Pulp Fiction,1994,Quentin Tarantino,"8,9/10"
8,El señor de los anillos: La comunidad del anillo,2001,Peter Jackson,"8,8/10"
9,"El bueno, el feo y el malo",1966,Sergio Leone,"8,8/10"
10,Forrest Gump,1994,Robert Zemeckis,"8,8/10"
11,El club de la lucha,1999,David Fincher,"8,8/10"
12,El señor de los anillos: Las dos torres,2002,Peter Jackson,"8,8/10"
13,Origen,2010,Christopher Nolan,"8,8/10"
14,El imperio contraataca,1980,Irvin Kershner,"8,7/10"
15,Matrix,1999,Lana Wachowski,"8,7/10"
16,Uno de los nuestros,1990,Martin Scorsese,"8,7/10"
17,Alguien voló sobre el nido del cuco,1975,Milos Forman,"8,7/10"
18,Seven,1995,David Fincher,"8,6/10"
19,¡Qué bello es vivir!,1946,Frank Capra,"8,6/10"
20,Los siete samuráis,1954,Akira Kurosawa,"8,6/10"
21,Interstellar,2014,Christopher Nolan,"8,7/10"
22,El silencio de los corderos,1991,Jonathan Demme,"8,6/10"
23,Spider-Man: Cruzando el multiverso,2023,Joaquim Dos Santos,"8,7/10"
24,Salvar al soldado Ryan,1998,Steven Spielberg,"8,6/10"
25,Ciudad de Dios,2002,Fernando Meirelles,"8,6/10"
26,La vida es bella,1997,Roberto Benigni,"8,6/10"
27,La milla verde,1999,Frank Darabont,"8,6/10"
28,La guerra de las galaxias,1977,George Lucas,"8,6/10"
29,Terminator 2: El juicio final,1991,James Cameron,"8,6/10"
30,Regreso al futuro,1985,Robert Zemeckis,"8,5/10"
31,El viaje de Chihiro,2001,Hayao Miyazaki,"8,6/10"
32,El pianista,2002,Roman Polanski,"8,5/10"
33,Psicosis,1960,Alfred Hitchcock,"8,5/10"
34,Parásitos,2019,Bong Joon Ho,"8,5/10"
35,Gladiator (El gladiador),2000,Ridley Scott,"8,5/10"
36,El rey león,1994,Roger Allers,"8,5/10"
37,El profesional (Léon),1994,Luc Besson,"8,5/10"
38,American History X,1998,Tony Kaye,"8,5/10"
39,Infiltrados,2006,Martin Scorsese,"8,5/10"
40,Whiplash,2014,Damien Chazelle,"8,5/10"
41,El truco final (El prestigio),2006,Christopher Nolan,"8,5/10"
42,Sospechosos habituales,1995,Bryan Singer,"8,5/10"
43,La tumba de las luciérnagas,1988,Isao Takahata,"8,5/10"

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code