# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [65]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [3]:
#driver configuration
#opciones=Options()

#opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#opciones.add_experimental_option('useAutomationExtension', False)
#opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
#opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
#opciones.add_argument('--incognito')

In [4]:
driver = webdriver.Chrome()

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [5]:
# This is the url you will scrape in this exercise
urldev = 'https://github.com/trending/developers'

In [6]:
driver.get(urldev)

In [7]:
box = driver.find_elements(By.CLASS_NAME, 'Box-row.d-flex')

In [8]:
devs_list = []
for dev in box:
    try:
        devs_name = dev.find_element(By.CLASS_NAME, 'h3.lh-condensed').text
        devs_alias = dev.find_element(By.CLASS_NAME, 'f4.text-normal.mb-1').text
        name_alias = devs_name + ' ' + '(' + devs_alias + ')'
        devs_list.append(name_alias)
    except:
        devs_list.append(devs_name)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [9]:
devs_list

['Ismail Pelaseyed (homanp)',
 'Chris Banes (chrisbanes)',
 'Travis Cline (tmc)',
 'Xiaoyu Zhang (BBuf)',
 'Stefan Prodan (stefanprodan)',
 'Pedro Cattori (pcattori)',
 'lllyasviel',
 'Arvin Xu (arvinxx)',
 'Howard Wu (howardwu)',
 'Shahed Nasser (shahednasser)',
 'Kailash Nadh (knadh)',
 'Mattt (mattt)',
 'kixelated',
 'Brad Fitzpatrick (bradfitz)',
 'Miško Hevery (mhevery)',
 'Andrew Lock (andrewlock)',
 'Brian Smith (briansmith)',
 'Numan (numandev1)',
 'Fons van der Plas (fonsp)',
 'Leonid Bugaev (buger)',
 'wū yāng (uyarn)',
 'Steven Nguyen (stnguyen90)',
 'Argo Zhang (ArgoZhang)',
 'Josh Stein (jcstein)',
 'Mike McNeil (mikermcneil)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [10]:
# This is the url you will scrape in this exercise
urlrepos = 'https://github.com/trending/python?since=daily'

In [11]:
driver.get(urlrepos)

In [12]:
driver.find_elements(By.XPATH, '//h2//a')[0].text

'dataelement / bisheng'

In [13]:
box = driver.find_elements(By.XPATH, '//h2//a')
titles=[]
for title in box:
    titles.append(title.text.replace(' ', ''))

titles

['dataelement/bisheng',
 'hiroi-sora/Umi-OCR',
 'public-apis-dev/public-apis',
 'THUDM/ChatGLM3',
 'yunjey/pytorch-tutorial',
 'huggingface/transformers',
 'AILab-CVC/VideoCrafter',
 'swisskyrepo/PayloadsAllTheThings',
 'ageitgey/face_recognition',
 'facebookresearch/llama',
 'lm-sys/FastChat',
 'pytorch/pytorch',
 'gto76/python-cheatsheet',
 'microsoft/DeepSpeed',
 'SkyworkAI/Skywork',
 'THUDM/ChatGLM-6B',
 'facebookresearch/fairseq',
 'Azure-Samples/chat-with-your-data-solution-accelerator',
 'PaddlePaddle/PaddleOCR',
 'tatsu-lab/stanford_alpaca',
 'minimaxir/big-list-of-naughty-strings',
 'safevideo/autollm',
 'langchain-ai/langchain',
 'bregman-arie/devops-exercises',
 'python-poetry/poetry']

#### Display all the image links from Walt Disney wikipedia page

In [14]:
# This is the url you will scrape in this exercise
urldisney = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [15]:
driver.get(urldisney)

In [16]:
images = driver.find_elements(By.TAG_NAME, 'img')

In [17]:
images[0].get_attribute('src')

'https://en.wikipedia.org/static/images/icons/wikipedia.png'

In [18]:
list_of_links = []
for image in images:
    list_of_links.append(image.get_attribute('src')) 

list_of_links[5:-17]

['https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/220px-Steamboat-willie.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Nuvola_apps_kaboodle.svg/16px-Nuvola_apps_kaboodle.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [19]:
# This is the url you will scrape in this exercise
urlpython ='https://en.wikipedia.org/wiki/Python'

In [20]:
driver.get(urlpython)

In [21]:
links = driver.find_element(By.CLASS_NAME, 'mw-parser-output').find_elements(By.TAG_NAME, 'a')

In [22]:
link_list= []
for link in links:
    link_list.append(link.get_attribute('href'))

In [23]:
len(link_list)

39

In [24]:
link_list[:10]

['https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=1&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Pythonidae',
 'https://en.wikipedia.org/wiki/Python_(genus)',
 'https://en.wikipedia.org/wiki/Python_(mythology)',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=2&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(programming_language)',
 'https://en.wikipedia.org/wiki/CMU_Common_Lisp',
 'https://en.wikipedia.org/wiki/PERQ#PERQ_3']

#### Number of Titles that have changed in the United States Code since its last release point

In [25]:
# This is the url you will scrape in this exercise
urltitles = 'http://uscode.house.gov/download/download.shtml'

In [26]:
driver.get(urltitles)

In [27]:
[e.text for e in driver.find_elements(By.CLASS_NAME, 'usctitlechanged')]

['Title 20 - Education', "Title 38 - Veterans' Benefits ٭"]

#### A Python list with the top ten FBI's Most Wanted names

In [28]:
# This is the url you will scrape in this exercise
urlfbi = 'https://www.fbi.gov/wanted/topten'

In [29]:
driver.get(urlfbi)

In [30]:
most_wanted = driver.find_elements(By.CLASS_NAME, 'title')[1:]
most_wanted_list = []
for murderer in most_wanted:
    most_wanted_list.append(murderer.text)
most_wanted_list

['ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'DONALD EUGENE FIELDS II',
 'RUJA IGNATOVA',
 'WILVER VILLEGAS-PALOMINO',
 'ALEJANDRO ROSALES CASTILLO',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [31]:
# This is the url you will scrape in this exercise
urlqueakes = 'https://www.emsc-csem.org/Earthquake/'

In [32]:
driver.get(urlqueakes)

In [33]:
rows = driver.find_element(By.CLASS_NAME, 'eqs.table-scroll').find_element(By.TAG_NAME, 'tbody').find_elements(By.TAG_NAME, 'tr')
data = []
for row in rows:
    cols = row.find_elements(By.TAG_NAME ,"td")
    raw_data = []
    for col in cols:
        raw_data.append(col.text)


    data.append(raw_data)

In [34]:
data

[['',
  '',
  '',
  '2023-11-02 12:30:05\n16 min ago',
  '63.927',
  '28.681',
  '14',
  '',
  '1.4',
  'FINLAND'],
 ['',
  '',
  '',
  '2023-11-02 12:21:43\n24 min ago',
  '45.956',
  '1.403',
  '5',
  '',
  '2.6',
  'FRANCE'],
 ['',
  '',
  '',
  '2023-11-02 11:57:17\n49 min ago',
  '40.254',
  '31.936',
  '5',
  '',
  '2.2',
  'WESTERN TURKEY'],
 ['',
  '',
  '',
  '2023-11-02 11:55:27\n51 min ago',
  '46.874',
  '-0.295',
  '5',
  '',
  '2.7',
  'FRANCE'],
 ['',
  '9',
  '',
  '2023-11-02 11:43:32\n1 hr 03 min ago',
  '38.060',
  '23.840',
  '5',
  '',
  '2.0',
  'GREECE'],
 ['',
  '',
  '',
  '2023-11-02 11:35:32\n1 hr 11 min ago',
  '38.091',
  '37.747',
  '7',
  '',
  '2.7',
  'CENTRAL TURKEY'],
 ['',
  '',
  '',
  '2023-11-02 11:32:26\n1 hr 14 min ago',
  '-21.050',
  '-69.010',
  '111',
  '',
  '2.9',
  'TARAPACA, CHILE'],
 ['',
  '',
  '',
  '2023-11-02 11:13:51\n1 hr 32 min ago',
  '44.228',
  '7.476',
  '2',
  '',
  '2.4',
  'NORTHERN ITALY'],
 ['',
  '',
  '',
  '2023-11-02 11:13:05\n1 hr 33 min ago',
  '38.959',
  '43.697',
  '9',
  '',
  '2.4',
  'EASTERN TURKEY'],
 ['',
  '',
  '',
  '2023-11-02 11:04:59\n1 hr 41 min ago',
  '9.630',
  '126.110',
  '5',
  '',
  '3.5',
  'MINDANAO, PHILIPPINES'],
 ['',
  '',
  '',
  '2023-11-02 10:45:21\n2 hr 01 min ago',
  '38.815',
  '-112.062',
  '8',
  '',
  '3.2',
  'UTAH'],
 ['',
  '',
  '',
  '2023-11-02 10:40:19\n2 hr 06 min ago',
  '-35.542',
  '178.885',
  '248',
  '',
  '3.3',
  'OFF E. COAST OF N. ISLAND, N.Z.'],
 ['',
  '',
  '',
  '2023-11-02 10:28:09\n2 hr 18 min ago',
  '47.151',
  '7.214',
  '31',
  '',
  '2.3',
  'SWITZERLAND'],
 ['',
  '',
  '',
  '2023-11-02 10:26:22\n2 hr 20 min ago',
  '-2.820',
  '127.710',
  '11',
  '',
  '3.3',
  'CERAM SEA, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-02 10:23:58\n2 hr 22 min ago',
  '-9.710',
  '113.930',
  '10',
  '',
  '4.1',
  'SOUTH OF JAVA, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-02 10:18:30\n2 hr 28 min ago',
  '-22.550',
  '-66.420',
  '237',
  '',
  '3.6',
  'JUJUY, ARGENTINA'],
 ['',
  '',
  '',
  '2023-11-02 09:51:55\n2 hr 54 min ago',
  '63.860',
  '-22.529',
  '5',
  '',
  '2.8',
  'ICELAND REGION'],
 ['',
  '',
  '',
  '2023-11-02 09:27:05\n3 hr 19 min ago',
  '38.728',
  '-27.308',
  '2',
  '',
  '2.5',
  'AZORES ISLANDS, PORTUGAL'],
 ['',
  '',
  '',
  '2023-11-02 09:23:45\n3 hr 22 min ago',
  '-2.800',
  '127.710',
  '10',
  '',
  '3.0',
  'CERAM SEA, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-02 09:12:01\n3 hr 34 min ago',
  '37.600',
  '20.590',
  '8',
  '',
  '2.7',
  'IONIAN SEA'],
 ['',
  '',
  '',
  '2023-11-02 09:09:11\n3 hr 37 min ago',
  '37.645',
  '35.878',
  '5',
  '',
  '2.8',
  'CENTRAL TURKEY'],
 ['',
  '',
  '',
  '2023-11-02 08:51:45\n3 hr 54 min ago',
  '32.224',
  '-102.006',
  '9',
  '',
  '2.9',
  'WESTERN TEXAS'],
 ['',
  '',
  '',
  '2023-11-02 08:45:27\n4 hr 01 min ago',
  '34.533',
  '-97.484',
  '4',
  '',
  '2.1',
  'OKLAHOMA'],
 ['',
  '',
  '',
  '2023-11-02 08:40:40\n4 hr 06 min ago',
  '11.390',
  '126.140',
  '1',
  '',
  '3.5',
  'PHILIPPINE ISLANDS REGION'],
 ['',
  '',
  '',
  '2023-11-02 08:32:43\n4 hr 13 min ago',
  '35.771',
  '-120.313',
  '4',
  '',
  '2.0',
  'CENTRAL CALIFORNIA'],
 ['',
  '',
  '',
  '2023-11-02 08:32:19\n4 hr 14 min ago',
  '-9.090',
  '117.500',
  '15',
  '',
  '3.1',
  'SUMBAWA REGION, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-02 08:28:25\n4 hr 18 min ago',
  '-7.740',
  '117.710',
  '10',
  '',
  '3.1',
  'BALI SEA'],
 ['',
  '',
  '',
  '2023-11-02 08:28:03\n4 hr 18 min ago',
  '11.440',
  '126.050',
  '25',
  '',
  '5.0',
  'PHILIPPINE ISLANDS REGION'],
 ['',
  '',
  '',
  '2023-11-02 08:27:12\n4 hr 19 min ago',
  '35.884',
  '-118.064',
  '8',
  '',
  '2.1',
  'CENTRAL CALIFORNIA'],
 ['',
  '',
  '',
  '2023-11-02 08:27:10\n4 hr 19 min ago',
  '40.500',
  '24.310',
  '5',
  '',
  '2.2',
  'AEGEAN SEA'],
 ['',
  '',
  '',
  '2023-11-02 08:19:59\n4 hr 26 min ago',
  '-30.790',
  '-71.590',
  '26',
  '',
  '3.8',
  'COQUIMBO, CHILE'],
 ['',
  '',
  '',
  '2023-11-02 08:17:40\n4 hr 29 min ago',
  '38.306',
  '37.793',
  '5',
  '',
  '2.8',
  'CENTRAL TURKEY'],
 ['',
  '',
  '',
  '2023-11-02 08:16:02\n4 hr 30 min ago',
  '37.015',
  '30.567',
  '81',
  '',
  '2.2',
  'WESTERN TURKEY'],
 ['',
  '',
  '',
  '2023-11-02 08:09:11\n4 hr 37 min ago',
  '55.233',
  '-156.913',
  '10',
  '',
  '3.0',
  'SOUTH OF ALASKA'],
 ['',
  '',
  '',
  '2023-11-02 08:02:31\n4 hr 44 min ago',
  '11.560',
  '125.760',
  '16',
  '',
  '3.4',
  'SAMAR, PHILIPPINES'],
 ['',
  '',
  '',
  '2023-11-02 07:52:27\n4 hr 54 min ago',
  '44.290',
  '7.570',
  '3',
  '',
  '2.5',
  'NORTHERN ITALY'],
 ['',
  '',
  '',
  '2023-11-02 07:41:58\n5 hr 04 min ago',
  '15.120',
  '-94.660',
  '18',
  '',
  '4.4',
  'OFF COAST OF OAXACA, MEXICO'],
 ['',
  '',
  '',
  '2023-11-02 07:40:38\n5 hr 06 min ago',
  '38.680',
  '21.290',
  '5',
  '',
  '2.2',
  'GREECE'],
 ['',
  '',
  '',
  '2023-11-02 07:31:41\n5 hr 15 min ago',
  '17.968',
  '-66.838',
  '16',
  '',
  '2.2',
  'PUERTO RICO'],
 ['',
  '',
  '',
  '2023-11-02 07:30:27\n5 hr 16 min ago',
  '-8.000',
  '117.560',
  '13',
  '',
  '3.1',
  'SUMBAWA REGION, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-02 07:29:32\n5 hr 17 min ago',
  '-2.820',
  '127.710',
  '10',
  '',
  '3.1',
  'CERAM SEA, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-02 07:28:42\n5 hr 18 min ago',
  '-7.990',
  '117.560',
  '12',
  '',
  '3.5',
  'BALI SEA'],
 ['',
  '',
  '',
  '2023-11-02 07:27:05\n5 hr 19 min ago',
  '19.184',
  '-155.500',
  '34',
  '',
  '2.0',
  'ISLAND OF HAWAII, HAWAII'],
 ['',
  '',
  '',
  '2023-11-02 07:25:05\n5 hr 21 min ago',
  '22.060',
  '79.540',
  '5',
  '',
  '2.8',
  'MADHYA PRADESH, INDIA'],
 ['',
  '',
  '',
  '2023-11-02 07:24:01\n5 hr 22 min ago',
  '11.410',
  '126.060',
  '3',
  '',
  '3.9',
  'PHILIPPINE ISLANDS REGION'],
 ['',
  '',
  '',
  '2023-11-02 07:22:31\n5 hr 24 min ago',
  '37.980',
  '25.700',
  '10',
  '',
  '3.0',
  'DODECANESE ISLANDS, GREECE'],
 ['',
  '',
  '',
  '2023-11-02 07:22:30\n5 hr 24 min ago',
  '-24.490',
  '-67.260',
  '284',
  '',
  '3.3',
  'SALTA, ARGENTINA'],
 ['',
  '',
  '',
  '2023-11-02 07:15:17\n5 hr 31 min ago',
  '19.180',
  '-155.493',
  '32',
  '',
  '2.0',
  'ISLAND OF HAWAII, HAWAII'],
 ['',
  '',
  '',
  '2023-11-02 07:09:46\n5 hr 36 min ago',
  '11.460',
  '126.050',
  '12',
  '',
  '3.8',
  'PHILIPPINE ISLANDS REGION'],
 ['',
  '',
  '',
  '2023-11-02 07:09:38\n5 hr 37 min ago',
  '10.541',
  '-40.910',
  '10',
  '',
  '4.9',
  'NORTHERN MID-ATLANTIC RIDGE'],
 ['',
  '',
  '',
  '2023-11-02 07:09:16\n5 hr 37 min ago',
  '35.210',
  '25.310',
  '6',
  '',
  '2.7',
  'CRETE, GREECE'],
 ['',
  '',
  '',
  '2023-11-02 07:01:26\n5 hr 45 min ago',
  '11.400',
  '126.010',
  '1',
  '',
  '3.1',
  'PHILIPPINE ISLANDS REGION'],
 ['',
  '',
  '',
  '2023-11-02 06:53:57\n5 hr 52 min ago',
  '11.440',
  '125.690',
  '14',
  '',
  '3.9',
  'SAMAR, PHILIPPINES'],
 ['',
  '',
  '',
  '2023-11-02 06:50:26\n5 hr 56 min ago',
  '11.438',
  '125.930',
  '15',
  '',
  '5.7',
  'SAMAR, PHILIPPINES'],
 ['',
  '',
  '',
  '2023-11-02 06:46:41\n6 hr 00 min ago',
  '37.100',
  '28.022',
  '14',
  '',
  '2.1',
  'WESTERN TURKEY'],
 ['',
  '',
  '',
  '2023-11-02 06:44:24\n6 hr 02 min ago',
  '-2.830',
  '127.680',
  '10',
  '',
  '3.3',
  'CERAM SEA, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-02 06:37:57\n6 hr 08 min ago',
  '47.740',
  '8.900',
  '9',
  '',
  '1.6',
  'GERMANY'],
 ['',
  '',
  '',
  '2023-11-02 06:36:49\n6 hr 09 min ago',
  '71.582',
  '-11.789',
  '3',
  '',
  '1.9',
  'JAN MAYEN ISLAND REGION'],
 ['',
  '',
  '',
  '2023-11-02 06:32:58\n6 hr 13 min ago',
  '39.120',
  '20.630',
  '27',
  '',
  '2.1',
  'GREECE'],
 ['',
  '',
  '',
  '2023-11-02 06:30:42\n6 hr 16 min ago',
  '-22.000',
  '-68.610',
  '125',
  '',
  '3.6',
  'ANTOFAGASTA, CHILE'],
 ['',
  '2',
  '',
  '2023-11-02 06:29:08\n6 hr 17 min ago',
  '-32.620',
  '-71.610',
  '61',
  '',
  '3.8',
  'OFFSHORE VALPARAISO, CHILE'],
 ['',
  '',
  '',
  '2023-11-02 06:28:10\n6 hr 18 min ago',
  '19.125',
  '-67.343',
  '74',
  '',
  '3.5',
  'PUERTO RICO REGION'],
 ['',
  '',
  '',
  '2023-11-02 06:27:10\n6 hr 19 min ago',
  '-2.810',
  '127.790',
  '10',
  '',
  '4.6',
  'CERAM SEA, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-02 06:18:49\n6 hr 27 min ago',
  '40.150',
  '27.346',
  '9',
  '',
  '2.1',
  'WESTERN TURKEY'],
 ['',
  '',
  '',
  '2023-11-02 06:16:20\n6 hr 30 min ago',
  '-9.420',
  '119.030',
  '32',
  '',
  '3.1',
  'SUMBA REGION, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-02 05:54:42\n6 hr 52 min ago',
  '28.169',
  '-16.241',
  '11',
  '',
  '1.6',
  'CANARY ISLANDS, SPAIN REGION'],
 ['',
  '',
  '',
  '2023-11-02 05:34:09\n7 hr 12 min ago',
  '-2.810',
  '127.740',
  '17',
  '',
  '3.6',
  'CERAM SEA, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-02 05:27:18\n7 hr 19 min ago',
  '-24.980',
  '-70.910',
  '55',
  '',
  '4.0',
  'OFFSHORE ANTOFAGASTA, CHILE'],
 ['',
  '',
  '',
  '2023-11-02 05:24:50\n7 hr 21 min ago',
  '63.880',
  '-22.470',
  '3',
  '',
  '3.5',
  'ICELAND REGION'],
 ['',
  '',
  '',
  '2023-11-02 05:14:59\n7 hr 31 min ago',
  '-20.840',
  '-69.130',
  '103',
  '',
  '2.7',
  'TARAPACA, CHILE'],
 ['',
  '',
  '',
  '2023-11-02 05:11:21\n7 hr 35 min ago',
  '-22.510',
  '-68.500',
  '117',
  '',
  '2.9',
  'ANTOFAGASTA, CHILE'],
 ['',
  '',
  '',
  '2023-11-02 05:09:52\n7 hr 36 min ago',
  '-8.450',
  '116.510',
  '14',
  '',
  '2.8',
  'LOMBOK REGION, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-02 04:58:06\n7 hr 48 min ago',
  '38.306',
  '39.156',
  '3',
  '',
  '2.0',
  'EASTERN TURKEY'],
 ['',
  '',
  '',
  '2023-11-02 04:42:59\n8 hr 03 min ago',
  '37.539',
  '-25.195',
  '0',
  '',
  '2.5',
  'AZORES ISLANDS, PORTUGAL'],
 ['',
  '',
  '',
  '2023-11-02 04:37:41\n8 hr 09 min ago',
  '19.435',
  '-64.762',
  '34',
  '',
  '3.7',
  'VIRGIN ISLANDS REGION'],
 ['',
  '',
  '',
  '2023-11-02 04:36:41\n8 hr 10 min ago',
  '-28.700',
  '-71.300',
  '45',
  '',
  '2.7',
  'ATACAMA, CHILE'],
 ['',
  '',
  '',
  '2023-11-02 04:25:07\n8 hr 21 min ago',
  '38.785',
  '27.158',
  '18',
  '',
  '2.1',
  'WESTERN TURKEY'],
 ['',
  '',
  '',
  '2023-11-02 04:24:39\n8 hr 22 min ago',
  '17.877',
  '-65.735',
  '9',
  '',
  '3.0',
  'PUERTO RICO REGION'],
 ['',
  '',
  '',
  '2023-11-02 04:10:12\n8 hr 36 min ago',
  '28.569',
  '-17.895',
  '6',
  '',
  '2.1',
  'CANARY ISLANDS, SPAIN REGION'],
 ['',
  '',
  '',
  '2023-11-02 04:07:03\n8 hr 39 min ago',
  '45.008',
  '11.356',
  '6',
  '',
  '2.0',
  'NORTHERN ITALY'],
 ['',
  '',
  '',
  '2023-11-02 04:06:49\n8 hr 39 min ago',
  '62.172',
  '-150.135',
  '8',
  '',
  '2.4',
  'CENTRAL ALASKA'],
 ['',
  '',
  '',
  '2023-11-02 03:53:41\n8 hr 53 min ago',
  '35.392',
  '-118.226',
  '4',
  '',
  '2.1',
  'CENTRAL CALIFORNIA'],
 ['',
  '',
  '',
  '2023-11-02 03:35:56\n9 hr 10 min ago',
  '-24.026',
  '-66.721',
  '217',
  '',
  '3.7',
  'JUJUY, ARGENTINA'],
 ['',
  '',
  '',
  '2023-11-02 03:30:51\n9 hr 15 min ago',
  '44.851',
  '-116.087',
  '9',
  '',
  '2.2',
  'SOUTHERN IDAHO'],
 ['',
  '',
  '',
  '2023-11-02 03:14:21\n9 hr 32 min ago',
  '-31.460',
  '-71.630',
  '35',
  '',
  '2.9',
  'OFFSHORE COQUIMBO, CHILE'],
 ['',
  '',
  '',
  '2023-11-02 03:09:58\n9 hr 36 min ago',
  '8.452',
  '-82.898',
  '32',
  '',
  '3.0',
  'PANAMA-COSTA RICA BORDER REGION'],
 ['',
  '',
  '',
  '2023-11-02 03:08:02\n9 hr 38 min ago',
  '61.506',
  '-149.953',
  '41',
  '',
  '2.6',
  'SOUTHERN ALASKA'],
 ['',
  '',
  '',
  '2023-11-02 02:59:33\n9 hr 47 min ago',
  '38.738',
  '25.973',
  '13',
  '',
  '2.0',
  'AEGEAN SEA'],
 ['',
  '',
  '',
  '2023-11-02 02:39:45\n10 hr 06 min ago',
  '-5.938',
  '130.722',
  '145',
  '',
  '4.6',
  'BANDA SEA'],
 ['',
  '',
  '',
  '2023-11-02 02:32:53\n10 hr 13 min ago',
  '31.674',
  '-104.181',
  '6',
  '',
  '2.5',
  'WESTERN TEXAS'],
 ['',
  '',
  '',
  '2023-11-02 02:32:25\n10 hr 14 min ago',
  '38.110',
  '36.779',
  '2',
  '',
  '2.6',
  'CENTRAL TURKEY'],
 ['',
  '',
  '',
  '2023-11-02 02:28:24\n10 hr 18 min ago',
  '40.776',
  '19.961',
  '15',
  '',
  '2.2',
  'ALBANIA'],
 ['',
  '',
  '',
  '2023-11-02 02:15:47\n10 hr 30 min ago',
  '48.310',
  '2.037',
  '4',
  '',
  '2.3',
  'FRANCE'],
 ['',
  '',
  '',
  '2023-11-02 02:01:37\n10 hr 45 min ago',
  '33.208',
  '-116.745',
  '8',
  '',
  '2.1',
  'SOUTHERN CALIFORNIA'],
 ['',
  '',
  '',
  '2023-11-02 01:23:59\n11 hr 22 min ago',
  '54.364',
  '-159.786',
  '35',
  '',
  '2.4',
  'SOUTH OF ALASKA'],
 ['',
  '',
  '',
  '2023-11-02 01:12:44\n11 hr 33 min ago',
  '37.720',
  '21.920',
  '56',
  '',
  '3.0',
  'SOUTHERN GREECE'],
 ['',
  '',
  '',
  '2023-11-02 01:06:02\n11 hr 40 min ago',
  '-19.410',
  '-69.480',
  '112',
  '',
  '2.7',
  'TARAPACA, CHILE'],
 ['',
  '',
  '',
  '2023-11-02 00:55:12\n11 hr 51 min ago',
  '-27.950',
  '-71.170',
  '26',
  '',
  '4.0',
  'OFFSHORE ATACAMA, CHILE'],
 ['',
  '',
  '',
  '2023-11-02 00:50:37\n11 hr 56 min ago',
  '38.236',
  '38.696',
  '5',
  '',
  '2.0',
  'EASTERN TURKEY'],
 ['',
  '',
  '',
  '2023-11-02 00:39:30\n12 hr 07 min ago',
  '-22.437',
  '-66.186',
  '263',
  '',
  '3.6',
  'JUJUY, ARGENTINA']]

In [38]:
columns=['','Citizen Response', '','Date & Time (UTC)','Lat.Degrees','Lon.Degrees','Depth km','','Mag.[+]','Region']
df = pd.DataFrame(data, columns=columns)
            
df[:20]

,,Citizen Response,,Date & Time (UTC),Lat.Degrees,Lon.Degrees,Depth km,,Mag.[+],Region
0,,,,2023-11-02 12:30:05\n16 min ago,63.927,28.681,14,,1.4,FINLAND
1,,,,2023-11-02 12:21:43\n24 min ago,45.956,1.403,5,,2.6,FRANCE
2,,,,2023-11-02 11:57:17\n49 min ago,40.254,31.936,5,,2.2,WESTERN TURKEY
3,,,,2023-11-02 11:55:27\n51 min ago,46.874,-0.295,5,,2.7,FRANCE
4,,9,,2023-11-02 11:43:32\n1 hr 03 min ago,38.060,23.840,5,,2.0,GREECE
5,,,,2023-11-02 11:35:32\n1 hr 11 min ago,38.091,37.747,7,,2.7,CENTRAL TURKEY
6,,,,2023-11-02 11:32:26\n1 hr 14 min ago,-21.050,-69.010,111,,2.9,"TARAPACA, CHILE"
7,,,,2023-11-02 11:13:51\n1 hr 32 min ago,44.228,7.476,2,,2.4,NORTHERN ITALY
8,,,,2023-11-02 11:13:05\n1 hr 33 min ago,38.959,43.697,9,,2.4,EASTERN TURKEY
9,,,,2023-11-02 11:04:59\n1 hr 41 min ago,9.630,126.110,5,,3.5,"MINDANAO, PHILIPPINES"
10,,,,2023-11-02 10:45:21\n2 hr 01 min ago,38.815,-112.062,8,,3.2,UTAH
11,,,,2023-11-02 10:40:19\n2 hr 06 min ago,-35.542,178.885,248,,3.3,"OFF E. COAST OF N. ISLAND, N.Z."
12,,,,2023-11-02 10:28:09\n2 hr 18 min ago,47.151,7.214,31,,2.3,SWITZERLAND
13,,,,2023-11-02 10:26:22\n2 hr 20 min ago,-2.820,127.710,11,,3.3,"CERAM SEA, INDONESIA"
14,,,,2023-11-02 10:23:58\n2 hr 22 min ago,-9.710,113.930,10,,4.1,"SOUTH OF JAVA, INDONESIA"
15,,,,2023-11-02 10:18:30\n2 hr 28 min ago,-22.550,-66.420,237,,3.6,"JUJUY, ARGENTINA"
16,,,,2023-11-02 09:51:55\n2 hr 54 min ago,63.860,-22.529,5,,2.8,ICELAND REGION
17,,,,2023-11-02 09:27:05\n3 hr 19 min ago,38.728,-27.308,2,,2.5,"AZORES ISLANDS, PORTUGAL"
18,,,,2023-11-02 09:23:45\n3 hr 22 min ago,-2.800,127.710,10,,3.0,"CERAM SEA, INDONESIA"
19,,,,2023-11-02 09:12:01\n3 hr 34 min ago,37.600,20.590,8,,2.7,IONIAN SEA

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [74]:
driver = webdriver.Chrome()

In [91]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url

def tweet_counter(account):
    
    driver = webdriver.Chrome()
    
    urltwit = f'https://twitter.com/{account}'

    driver.get(urltwit)


    time.sleep(5)

    try:
        tweets = driver.find_element(By.XPATH,'//div/div/div[2]/main/div/div/div/div/div/div[1]/div[1]/div/div/div/div/div/div[2]/div/div')
    
    except:
        print('Nothing to show here')

    return tweets.text

driver.quit()

In [92]:
tweet_counter('elonmusk')

'32.7K posts'

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [99]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
def followers(account):
    
    driver = webdriver.Chrome()
    
    urltwit = f'https://twitter.com/{account}'

    driver.get(urltwit)


    time.sleep(5)

    try:
        result = driver.find_element(By.CSS_SELECTOR,'div > div > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010 > main > div > div > div > div > div > div:nth-child(3) > div > div > div > div > div.css-1dbjc4n.r-13awgt0.r-18u37iz.r-1w6e6rj > div:nth-child(2) > a')
    
    except:
        print('Nothing to show here')

    return result.text

driver.quit()

In [102]:
followers('NASA')

'77.8M Followers'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [39]:
# This is the url you will scrape in this exercise
urlpedia = 'https://www.wikipedia.org/'

In [40]:
driver.get(urlpedia)

In [41]:
languages_and_articles = driver.find_element(By.CSS_SELECTOR, '#www-wikipedia-org > div.central-featured').find_elements(By.TAG_NAME, 'a')
langartlist = []

for e in languages_and_articles:
    langartlist.append(e.text)

clean_list = []
for e in langartlist:
    clean_list.append(e.replace('\n', ' '))

In [42]:
clean_list

['English 6 715 000+ articles',
 '日本語 1 387 000+ 記事',
 'Español 1 892 000+ artículos',
 'Русский 1 938 000+ статей',
 'Deutsch 2 836 000+ Artikel',
 'Français 2 553 000+ articles',
 'Italiano 1 826 000+ voci',
 '中文 1 377 000+ 条目 / 條目',
 'Português 1 109 000+ artigos',
 'العربية 1 217 000+ مقالة']

#### A list with the different kind of datasets available in data.gov.uk

In [43]:
# This is the url you will scrape in this exercise
urluk = 'https://data.gov.uk/'

In [44]:
driver.get(urluk)

In [45]:
sets = driver.find_elements(By.CLASS_NAME, 'govuk-link')

datasets = []

for e in sets:
    datasets.append(e.text)

datasets[4:]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [108]:
# This is the url you will scrape in this exercise
urllangs = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [110]:
driver.quit()

In [113]:
driver = webdriver.Chrome()

In [114]:
driver.get(urllangs)

In [115]:
rows = driver.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[1]').find_element(By.TAG_NAME, 'tbody').find_elements(By.TAG_NAME, 'tr')

In [49]:
data = []
for row in rows:
    cols = row.find_elements(By.TAG_NAME ,"td")
    raw_data = []
    for col in cols:
        raw_data.append(col.text)

    data.append(raw_data)

In [125]:
columns = driver.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[1]').find_element(By.TAG_NAME, 'thead').find_elements(By.TAG_NAME, 'th')
columns = [e.text for e in columns]
columns

['Language', 'Native speakers\n(millions)', 'Language family', 'Branch']

In [126]:

pd.DataFrame(data[1:10],columns=columns)

,Language,Native speakers\n(millions),Language family,Branch
0,"Mandarin Chinese\n(incl. Standard Chinese, but...",939,Sino-Tibetan,Sinitic
1,Spanish,485,Indo-European,Romance
2,English,380,Indo-European,Germanic
3,"Hindi\n(excl. Urdu, and other languages)",345,Indo-European,Indo-Aryan
4,Portuguese,236,Indo-European,Romance
5,Bengali,234,Indo-European,Indo-Aryan
6,Russian,147,Indo-European,Balto-Slavic
7,Japanese,123,Japonic,Japanese
8,Yue Chinese\n(incl. Cantonese),86.1,Sino-Tibetan,Sinitic

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [130]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
urltwitts = 'https://twitter.com/elonmusk'

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [292]:
driver.quit()

In [293]:
driver = webdriver.Chrome()

In [290]:
# This is the url you will scrape in this exercise 
urlimdb = 'https://www.imdb.com/chart/top'

In [294]:
driver.get(urlimdb)

In [295]:
body = driver.find_element(By.XPATH, '//*[@id="__next"]/main/div/div[3]/section/div/div[2]/div/ul')
rows = body.find_elements(By.CLASS_NAME, 'ipc-metadata-list-summary-item.sc-59b6048d-0.jemTre.cli-parent')
rows[0].text

'1. The Shawshank Redemption\n1994\n2h 22m\n15\n9.3\n (2.8M)\nRate'

In [281]:
def movies(list_of_movies):

    row_data = []

    for movie in list_of_movies:

        movie.find_element(By.TAG_NAME, 'a').click()

        time.sleep(5)

        data = []

        title = movie.find_element(By.CSS_SELECTOR, '#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.eaRXHu > section > div:nth-child(4) > section > section > div.sc-e226b0e3-3.jJsEuz > div.sc-dffc6c81-0.iwmAVw > h1')
        release = movie.find_element(By.XPATH, '//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[1]')
        director = movie.find_element(By.XPATH,'//*[@id="__next"]/main/div/section[1]/div/section/div/div[1]/section[4]/ul/li[1]/div/ul')
        stars = movie.find_element(By.XPATH,'//*[@id="__next"]/main/div/section/div/section/div/div[1]/section[1]/div[2]/div[2]/div[1]/div[2]/div[2]/div[1]/span[1]')

        data.append(title)
        data.append(release)
        data.append(director)
        data.append(stars)


    row_data.append(data)

    return pd.DataFrame(row_data)

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code