# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
import re
import random
import pandas as pd
from selenium import webdriver

# Searching Method:
from selenium.webdriver.common.by import By

# Controlling the time:
import time
from selenium.webdriver.support.ui import WebDriverWait   

# from selenium.webdriver.support import expected_conditions as EC
# from selenium.webdriver import ActionChains as AC
# from selenium.webdriver.common.keys import Keys  

# To Display the HTML
from IPython.display import display, HTML

import warnings
warnings.filterwarnings('ignore')

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
PATH = webdriver.FirefoxOptions()
driver = webdriver.Firefox(options = PATH)

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [3]:
url = 'https://github.com/trending/developers'
driver.get(url)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
[driver.find_elements(By.XPATH, f'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article[{i}]/div[2]/div[1]/div[1]')[0].text 
 for i in range(1, 25)]

['Ismail Pelaseyed\nhomanp',
 'Chris Banes\nchrisbanes',
 'Travis Cline\ntmc',
 'Xiaoyu Zhang\nBBuf',
 'Stefan Prodan\nstefanprodan',
 'Pedro Cattori\npcattori',
 'lllyasviel',
 'Arvin Xu\narvinxx',
 'Howard Wu\nhowardwu',
 'Shahed Nasser\nshahednasser',
 'Kailash Nadh\nknadh',
 'Mattt\nmattt',
 'kixelated',
 'Brad Fitzpatrick\nbradfitz',
 'Miško Hevery\nmhevery',
 'Andrew Lock\nandrewlock',
 'Brian Smith\nbriansmith',
 'Numan\nnumandev1',
 'Fons van der Plas\nfonsp',
 'Leonid Bugaev\nbuger',
 'wū yāng\nuyarn',
 'Steven Nguyen\nstnguyen90',
 'Argo Zhang\nArgoZhang',
 'Josh Stein\njcstein']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [5]:
url = 'https://github.com/trending/python?since=daily'
driver.get(url)

In [6]:
[driver.find_elements(By.XPATH, f'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article[{i}]/h2/a')[0].text 
 for i in range(1, 25)]

['dataelement / bisheng',
 'hiroi-sora / Umi-OCR',
 'public-apis-dev / public-apis',
 'THUDM / ChatGLM3',
 'yunjey / pytorch-tutorial',
 'huggingface / transformers',
 'AILab-CVC / VideoCrafter',
 'swisskyrepo / PayloadsAllTheThings',
 'ageitgey / face_recognition',
 'facebookresearch / llama',
 'lm-sys / FastChat',
 'pytorch / pytorch',
 'gto76 / python-cheatsheet',
 'microsoft / DeepSpeed',
 'SkyworkAI / Skywork',
 'THUDM / ChatGLM-6B',
 'facebookresearch / fairseq',
 'Azure-Samples / chat-with-your-data-solution-accelerator',
 'PaddlePaddle / PaddleOCR',
 'tatsu-lab / stanford_alpaca',
 'minimaxir / big-list-of-naughty-strings',
 'safevideo / autollm',
 'langchain-ai / langchain',
 'bregman-arie / devops-exercises']

#### Display all the image links from Walt Disney wikipedia page

In [7]:
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
driver.get(url)

In [8]:
for i in range(5, 10):
    link = driver.find_elements(By.TAG_NAME, 'img')[i].get_attribute('src')
    display(HTML(f'<a href="{link}">Link image #{i-4}</a>'))

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [9]:
url ='https://en.wikipedia.org/wiki/Python'
driver.get(url)

In [10]:
for i in range(5):
    link = driver.find_elements(By.TAG_NAME, 'a')[i].get_attribute('href')
    display(HTML(f'<a href="{link}">Link image #{i+1}</a>'))

#### Number of Titles that have changed in the United States Code since its last release point

In [11]:
url = 'http://uscode.house.gov/download/download.shtml'
driver.get(url)

In [12]:
[driver.find_elements(By.CLASS_NAME, 'usctitlechanged')[i].text 
 for i in range(len(driver.find_elements(By.CLASS_NAME, 'usctitlechanged')))]

['Title 20 - Education', "Title 38 - Veterans' Benefits ٭"]

#### A Python list with the top ten FBI's Most Wanted names

In [16]:
url = 'https://www.fbi.gov/wanted/topten'
driver.get(url)

In [19]:
# [driver.find_elements(By.CSS_SELECTOR, 'li.portal-type-person:nth-child(2)')[i].text
#  for i in range(10)]

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [18]:
url = 'https://www.emsc-csem.org/Earthquake/'
driver.get(url)

In [20]:
driver.find_element(By.XPATH, '/html/body/div[5]/a/div').click()

In [21]:
date = [driver.find_elements(By.CLASS_NAME, 'tbdat')[i].text.split('\n')[0] for i in range(1, 22)]
time_ = [driver.find_elements(By.CLASS_NAME, 'tago')[i].text for i in range(0, 21)]
latitude = [driver.find_elements(By.CLASS_NAME, 'tblat')[i].text.split('\n')[0] for i in range(1, 22)]
longitude = [driver.find_elements(By.CLASS_NAME, 'tblon')[i].text.split('\n')[0] for i in range(1, 22)]
region = [driver.find_elements(By.CLASS_NAME, 'tbreg')[i].text.split('\n')[0] for i in range(1, 22)]

In [22]:
df = pd.DataFrame({
    "date": date,
    "time": time_,
    "latitude": latitude,
    "longitude": longitude,
    "region": region})

df

,date,time,latitude,longitude,region
0,2023-11-02 13:44:44,11 min ago,28.100,-16.081,"CANARY ISLANDS, SPAIN REGION"
1,2023-11-02 13:39:42,16 min ago,31.611,-104.275,WESTERN TEXAS
2,2023-11-02 13:30:57,25 min ago,12.650,-88.330,OFFSHORE EL SALVADOR
3,2023-11-02 12:59:51,56 min ago,38.843,-122.871,NORTHERN CALIFORNIA
4,2023-11-02 12:58:38,57 min ago,38.200,20.750,GREECE
5,2023-11-02 12:58:21,57 min ago,34.565,-97.498,OKLAHOMA
6,2023-11-02 12:51:44,1 hr 04 min ago,17.898,-66.790,PUERTO RICO REGION
7,2023-11-02 12:47:37,1 hr 08 min ago,38.506,39.638,EASTERN TURKEY
8,2023-11-02 12:47:28,1 hr 08 min ago,31.659,-104.392,WESTERN TEXAS
9,2023-11-02 12:46:08,1 hr 09 min ago,37.937,36.224,CENTRAL TURKEY
10,2023-11-02 12:43:14,1 hr 12 min ago,-5.650,102.780,"SOUTHERN SUMATRA, INDONESIA"
11,2023-11-02 12:30:05,1 hr 25 min ago,63.927,28.681,FINLAND
12,2023-11-02 12:21:43,1 hr 34 min ago,45.956,1.403,FRANCE
13,2023-11-02 12:04:07,1 hr 51 min ago,31.664,-104.396,WESTERN TEXAS
14,2023-11-02 11:57:17,1 hr 58 min ago,40.254,31.936,WESTERN TURKEY
15,2023-11-02 11:55:27,2 hr 00 min ago,46.874,-0.295,FRANCE
16,2023-11-02 11:43:32,2 hr 12 min ago,38.060,23.840,GREECE
17,2023-11-02 11:35:32,2 hr 20 min ago,38.091,37.747,CENTRAL TURKEY
18,2023-11-02 11:32:26,2 hr 23 min ago,-21.050,-69.010,"TARAPACA, CHILE"
19,2023-11-02 11:13:51,2 hr 42 min ago,44.228,7.476,NORTHERN ITALY
20,2023-11-02 11:13:05,2 hr 42 min ago,38.959,43.697,EASTERN TURKEY

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [38]:
url = 'https://twitter.com/elonmusk'
driver.get(url)
time.sleep(5)

In [40]:
driver.find_elements(By.XPATH, '/html/body/div[1]/div/div/div[2]/main/div/div/div/div[1]/div/div[1]/div[1]/div/div/div/div/div/div[2]/div')[0].text.split('\n')

['Elon Musk', '32,7 mil posts']

#### Number of followers of a given twitter account

In [41]:
driver.find_elements(By.CSS_SELECTOR, 'div.r-1mf7evn:nth-child(2) > a:nth-child(1)')[0].text

'161,8 M Seguidores'

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [46]:
user_list = ['elonmusk', 'ñujul']

for i in user_list:
    try:
        url = f'https://twitter.com/{i}'
        driver.get(url)
        time.sleep(5)
        print(driver.find_elements(By.CSS_SELECTOR, 'div.r-1mf7evn:nth-child(2) > a:nth-child(1)')[0].text)
    except:
        print(f'The user {i} do not exist')

161,8 M Seguidores
The user ñujul do not exist

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [47]:
url = 'https://www.wikipedia.org/'
driver.get(url)

In [48]:
dictio = {}

dictio['Language'] = [driver.find_elements(By.XPATH, '/html/body/div[2]')[0].text.split('\n')[i] for i in range(0,20,2)]
dictio['# of Articles'] = [driver.find_elements(By.XPATH, '/html/body/div[2]')[0].text.split('\n')[i] for i in range(1,20,2)]

df = pd.DataFrame(dictio)
df

    Language         # of Articles
0    Español  1 892 000+ artículos
1    English   6 715 000+ articles
2        日本語         1 387 000+ 記事
3    Русский     1 938 000+ статей
4    Deutsch    2 836 000+ Artikel
5   Français   2 553 000+ articles
6   Italiano       1 826 000+ voci
7         中文    1 377 000+ 条目 / 條目
8  Português    1 109 000+ artigos
9    العربية      1 217 000+ مقالة

#### A list with the different kind of datasets available in data.gov.uk

In [49]:
url = 'https://data.gov.uk/'
driver.get(url)

In [50]:
[driver.find_elements(By.XPATH, '/html/body/div[3]/main/div[3]/div/ul')[0].text.split('\n')[i] for i in range(0,28,2)]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [51]:
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
driver.get(url)

In [52]:
language = []
speakers = []
lang_dicc = {}

for i in range(1, 11):
    rows = driver.find_element(By.XPATH, f'//table//tbody//tr[{i}]').text.split('\n')
    try:
        if rows[1] != None:
            language.append(rows[0])
            speakers.append(rows[1].split(')')[1].split(' ')[1])
    except:
        language.append(rows[0].split(' ')[0])
        speakers.append(rows[0].split(' ')[1])

lang_dicc['Language'] = language
lang_dicc['Speakers (mill)'] = speakers

In [53]:
df = pd.DataFrame(lang_dicc)
df

                   Language Speakers (mill)
0  Language Native speakers        Language
1          Mandarin Chinese             939
2                   Spanish             485
3                   English             380
4                     Hindi             345
5                Portuguese             236
6                   Bengali             234
7                   Russian             147
8                  Japanese             123
9               Yue Chinese            86.1

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [54]:
url = 'https://twitter.com/elonmusk'
driver.get(url)
time.sleep(10)

In [55]:
for i in range(1, 6):
    print(driver.find_elements(By.TAG_NAME, 'article')[i].text.split('\n')[4:-3])
    time.sleep(5)
    num = random.randint(-100, 200)
    driver.execute_script(f'window.scrollTo(0, {num});')

['Next I’m buying Coca-Cola to put the cocaine back in']
['I hope that even my worst critics remain on Twitter, because that is what free speech means']
['Let’s make Twitter maximum fun!']
[' Yesss!!! ']
['Listen, I can’t do miracles ok']

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [56]:
url = 'https://www.imdb.com/chart/top'
driver.get(url)
time.sleep(5)

In [57]:
x_path = '//*[@id="list-view-option-detailed"]'
driver.find_elements(By.XPATH, x_path)[0].click()

In [58]:
%time

top_250 = {'Movie': [],'Release Year': [], 'Direction': [], 'Stars': []}

for i in range(250):
    top_250['Movie'].append(driver.find_elements(By.CSS_SELECTOR, 'div.ipc-metadata-list-summary-item__c')[i].text.split('\n')[0].split('.')[1])
    top_250['Release Year'].append(driver.find_elements(By.CSS_SELECTOR, 'div.ipc-metadata-list-summary-item__c')[i].text.split('\n')[1])
    rest = driver.find_elements(By.CSS_SELECTOR, 'div.ipc-metadata-list-summary-item__c')[i].text.split('\n')[8]
    for i in range(len(rest)):
        if rest[i].islower() and rest[i + 1].isupper():
            rest = rest[:i + 1] + "," + rest[i + 1:]
            dire = rest.split(',')
    top_250['Direction'].append(dire[1])
    top_250['Stars'].append(dire[3:])
    time.sleep(1)

CPU times: total: 0 ns
Wall time: 0 ns

In [59]:
top_250 = pd.DataFrame(top_250)
top_250.tail()

,Movie,Release Year,Direction,Stars
245,Los cuatrocientos golpes,1959,François Truffaut,"[Jean-Pierre Léaud, Albert Rémy, Claire Maurier]"
246,Persona,1966,Ingmar Bergman,"[Bibi Andersson, Liv Ullmann, Margaretha Krook]"
247,La vida de Brian,1979,Terry Jones,"[Graham Chapman, John Cleese, Michael Palin]"
248,Aladdín,1992,Ron Clements,"[Scott Weinger, Robin Williams, Linda Larkin]"
249,Bailando con lobos,1990,Kevin Costner,"[Kevin Costner, Mary Mc, Donnell, Graham Greene]"

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [60]:
url = 'http://www.imdb.com/chart/top'
driver.get(url)

In [61]:
x_path = '//*[@id="list-view-option-detailed"]'
driver.find_elements(By.XPATH, x_path)[0].click()

In [63]:
%time

top_10 = {'Movie': [],'Release Year': [], 'Summary': []}

for i in random.sample(range(1, 250), 10):
    top_10['Movie'].append(driver.find_elements(By.CSS_SELECTOR, 'div.ipc-metadata-list-summary-item__c')[i].text.split('\n')[0].split('.')[1])
    top_10['Release Year'].append(driver.find_elements(By.CSS_SELECTOR, 'div.ipc-metadata-list-summary-item__c')[i].text.split('\n')[1])
    top_10['Summary'].append(driver.find_elements(By.CSS_SELECTOR, 'div.ipc-metadata-list-summary-item__c')[i].text.split('\n')[7])

CPU times: total: 0 ns
Wall time: 0 ns

In [64]:
top_10 = pd.DataFrame(top_10)
top_10

,Movie,Release Year,Summary
0,La leyenda del indomable,1967,Un tranquilo sureño es sentenciado a dos años ...
1,La guerra de las galaxias,1977,Luke Skywalker une sus fuerzas con un caballer...
2,El gigante de hierro,1999,Un joven se hace amigo de un robot gigante del...
3,Fargo,1996,Los crímenes de Jerry Lundegaard se caen a ped...
4,Lo que el viento se llevó,1939,La manipuladora hija del propietario de una pl...
5,Forrest Gump,1994,"Las presidencias de Kennedy y Johnson, los aco..."
6,Sucedió una noche,1934,Una heredera malcriada huye de su familia y re...
7,El chico,1921,"Un vagabundo cuida de un niño abandonado, pero..."
8,Reservoir Dogs,1992,Cuando un sencillo robo de joyas acaba terribl...
9,Rocky,1976,Un boxeador poco conocido tiene la gran oportu...

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [65]:
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?' + 'q=' + city + '&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'
driver.get(url)

Enter the city:madrid

In [66]:
# Invalid API key. Please see https://openweathermap.org/faq#error401 for more info.

#### Book name,price and stock availability as a pandas dataframe.

In [67]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'
driver.get(url)

In [68]:
books = {'Title': [],'Price': [], 'Stock': []}

for i in range(10):
    books['Title'].append(driver.find_elements(By.TAG_NAME, 'article')[i].text.split('\n')[0])
    books['Price'].append(driver.find_elements(By.TAG_NAME, 'article')[i].text.split('\n')[1])
    books['Stock'].append(driver.find_elements(By.TAG_NAME, 'article')[i].text.split('\n')[2])

In [69]:
books = pd.DataFrame(books)
books

                          Title   Price     Stock
0            A Light in the ...  £51.77  In stock
1            Tipping the Velvet  £53.74  In stock
2                    Soumission  £50.10  In stock
3                 Sharp Objects  £47.82  In stock
4  Sapiens: A Brief History ...  £54.23  In stock
5               The Requiem Red  £22.65  In stock
6  The Dirty Little Secrets ...  £33.34  In stock
7       The Coming Woman: A ...  £17.93  In stock
8           The Boys in the ...  £22.60  In stock
9               The Black Maria  £52.15  In stock

In [70]:
driver.quit()