# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

In [334]:
%pip install selenium
%pip install webdriver-manager

Requirement already satisfied: selenium in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (4.14.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: webdriver-manager in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (4.0.1)
Requirement already satisfied: requests in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from webdriver-manager) (2.31.0)
Requirement already satisfied: python-dotenv in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: packaging in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/criscarneiro/anaconda3/lib/python3.11/site-packages (from requests->webdriver-manager) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [335]:
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import time

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [336]:
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [337]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [338]:
PATH = 'driver/chromedriver'

driver = webdriver.Chrome()

driver.get('https://www.google.es')

In [339]:
#driver = "./chromedriver.exe" #remember substitute this for your driver path
#driver = webdriver.Chrome(driver,options = opciones)

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [235]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [236]:
driver.get(url)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [237]:
driver.find_elements(By.CSS_SELECTOR, 'h1.h3.lh-condensed')[0].text

'Ismail Pelaseyed'

In [238]:
driver.find_elements(By.CSS_SELECTOR,'p.f4.text-normal.mb-1')[0].text

'homanp'

In [239]:
print(len(driver.find_elements(By.CSS_SELECTOR, 'h1.h3.lh-condensed')))
print(len(driver.find_elements(By.CSS_SELECTOR,'p.f4.text-normal.mb-1')))

25
23

In [240]:
def limpiar_nombres(driver):
    names = []
    nicknames = []

    for element in driver.find_elements(By.CSS_SELECTOR, 'h1.h3.lh-condensed'):
        try:
            names.append(element.text)
        except:
            names.append('')

    for element in driver.find_elements(By.CSS_SELECTOR, 'p.f4.text-normal.mb-1'):
        try:
            nicknames.append(element.text)
        except:
            nicknames.append('')

    return names, nicknames

In [241]:
names, nicknames = limpiar_nombres(driver)

In [242]:
result = [f"{name} ({nickname})" for name, nickname in zip(names, nicknames)]
print(result)

['Ismail Pelaseyed (homanp)', 'Chris Banes (chrisbanes)', 'Travis Cline (tmc)', 'Xiaoyu Zhang (BBuf)', 'Stefan Prodan (stefanprodan)', 'Pedro Cattori (pcattori)', 'lllyasviel (arvinxx)', 'Arvin Xu (howardwu)', 'Howard Wu (shahednasser)', 'Shahed Nasser (knadh)', 'Kailash Nadh (mattt)', 'Mattt (bradfitz)', 'kixelated (mhevery)', 'Brad Fitzpatrick (andrewlock)', 'Miško Hevery (briansmith)', 'Andrew Lock (numandev1)', 'Brian Smith (fonsp)', 'Numan (buger)', 'Fons van der Plas (uyarn)', 'Leonid Bugaev (stnguyen90)', 'wū yāng (ArgoZhang)', 'Steven Nguyen (jcstein)', 'Argo Zhang (mikermcneil)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [243]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [244]:
driver.get(url)

In [245]:
driver.find_elements(By.CSS_SELECTOR,'h2.h3.lh-condensed')[0].text.split('/')[1].strip()

'bisheng'

In [246]:
trendingrepo = [e.text.split('/')[1].strip() for e in driver.find_elements(By.CSS_SELECTOR,'h2.h3.lh-condensed')]
print(trendingrepo)

['bisheng', 'Umi-OCR', 'public-apis', 'ChatGLM3', 'pytorch-tutorial', 'transformers', 'VideoCrafter', 'PayloadsAllTheThings', 'face_recognition', 'llama', 'FastChat', 'pytorch', 'python-cheatsheet', 'DeepSpeed', 'Skywork', 'ChatGLM-6B', 'fairseq', 'chat-with-your-data-solution-accelerator', 'PaddleOCR', 'stanford_alpaca', 'big-list-of-naughty-strings', 'autollm', 'langchain', 'devops-exercises', 'poetry']

#### Display all the image links from Walt Disney wikipedia page

In [247]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [248]:
driver.get(url)

In [249]:
image = driver.find_elements(By.CSS_SELECTOR, 'img')

In [250]:
image_links = [img.get_attribute('src') for img in image]

In [251]:
linkstable = pd.DataFrame(image_links, columns =['links'])
linkstable.head()

                                               links
0  https://en.wikipedia.org/static/images/icons/w...
1  https://en.wikipedia.org/static/images/mobile/...
2  https://en.wikipedia.org/static/images/mobile/...
3  https://upload.wikimedia.org/wikipedia/en/thum...
4  https://upload.wikimedia.org/wikipedia/en/thum...

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [252]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [253]:
driver.get(url)

In [254]:
linksinfo = driver.find_elements(By.CSS_SELECTOR,'a')

In [255]:
wiki_links = [link.get_attribute('href') for link in linksinfo]

In [256]:
linkstable = pd.DataFrame(wiki_links, columns =['links'])
linkstable.head()

                                               links
0   https://en.wikipedia.org/wiki/Python#bodyContent
1            https://en.wikipedia.org/wiki/Main_Page
2   https://en.wikipedia.org/wiki/Wikipedia:Contents
3  https://en.wikipedia.org/wiki/Portal:Current_e...
4       https://en.wikipedia.org/wiki/Special:Random

#### Number of Titles that have changed in the United States Code since its last release point

In [257]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [258]:
driver.get(url)

In [259]:
driver.find_elements(By.CSS_SELECTOR,'div.usctitlechanged')[0].text.split('-')[0].strip()

'Title 20'

In [260]:
updatedtitles = [e.text.split('-')[0].strip() for e in driver.find_elements(By.CSS_SELECTOR,'div.usctitlechanged')]
updatedtitles

['Title 20', 'Title 38']

In [261]:
len(updatedtitles)

2

#### A Python list with the top ten FBI's Most Wanted names

In [262]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [263]:
driver.get(url)

In [264]:
fbi = [e.text.title() for e in driver.find_elements(By.CSS_SELECTOR, 'h3.title')]
print(fbi)

['Arnoldo Jimenez', 'Omar Alexander Cardenas', 'Yulan Adonay Archaga Carias', 'Bhadreshkumar Chetanbhai Patel', 'Donald Eugene Fields Ii', 'Ruja Ignatova', 'Wilver Villegas-Palomino', 'Alejandro Rosales Castillo', 'Alexis Flores', 'Jose Rodolfo Villarreal-Hernandez']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [265]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [266]:
driver.get(url)

In [267]:
table = driver.find_element(By.XPATH, '/html/body/div[3]/div[6]/table')
table

In [268]:
body = table.find_element(By.TAG_NAME, 'tbody')

In [269]:
rows =  body.find_elements(By.TAG_NAME, 'tr')

In [270]:
rows[0].find_elements(By.TAG_NAME, 'td')[1].text

''

In [271]:
result = []

for row in rows:
    
    tmp = []
    
    items = row.find_elements(By.TAG_NAME, 'td')   
    
    for item in items:
        
        tmp.append(item.text)       
        
    result.append(tmp)
    
result[:1]

[['',
  '',
  '',
  '2023-11-02 11:57:17\n7 min ago',
  '40.254',
  '31.936',
  '5',
  '',
  '2.2',
  'WESTERN TURKEY']]

In [286]:
data = pd.DataFrame(result)
data = data[[3, 4, 5, 6, 8, 9]]
data

,3,4,5,6,8,9
0,2023-11-02 11:57:17\n7 min ago,40.254,31.936,5,2.2,WESTERN TURKEY
1,2023-11-02 11:55:27\n9 min ago,46.874,-0.295,5,2.7,FRANCE
2,2023-11-02 11:43:32\n21 min ago,38.060,23.840,5,2.0,GREECE
3,2023-11-02 11:35:32\n29 min ago,38.091,37.747,7,2.7,CENTRAL TURKEY
4,2023-11-02 11:32:26\n32 min ago,-21.050,-69.010,111,2.9,"TARAPACA, CHILE"
...,...,...,...,...,...,...
95,2023-11-02 00:55:12\n11 hr 09 min ago,-27.950,-71.170,26,4.0,"OFFSHORE ATACAMA, CHILE"
96,2023-11-02 00:50:37\n11 hr 14 min ago,38.236,38.696,5,2.0,EASTERN TURKEY
97,2023-11-02 00:39:30\n11 hr 25 min ago,-22.437,-66.186,263,3.6,"JUJUY, ARGENTINA"
98,2023-11-02 00:38:49\n11 hr 25 min ago,46.035,6.878,5,1.6,FRANCE
99,2023-11-02 00:34:49\n11 hr 29 min ago,10.830,124.700,2,3.0,"LEYTE, PHILIPPINES"

In [283]:
head = table.find_element(By.TAG_NAME, 'thead')

In [290]:
columns = [h.text for h in head.find_elements(By.TAG_NAME, 'th')]
columns

['',
 'Citizen\nresponse',
 'Date & Time\nUTC',
 'Lat.\ndegrees',
 'Lon.\ndegrees',
 'Depth\nkm',
 'Mag.[+]',
 'Region']

In [291]:
columns = columns[2:]
columns

['Date & Time\nUTC',
 'Lat.\ndegrees',
 'Lon.\ndegrees',
 'Depth\nkm',
 'Mag.[+]',
 'Region']

In [292]:
data.columns = columns

In [293]:
data.head()

,Date & Time\nUTC,Lat.\ndegrees,Lon.\ndegrees,Depth\nkm,Mag.[+],Region
0,2023-11-02 11:57:17\n7 min ago,40.254,31.936,5,2.2,WESTERN TURKEY
1,2023-11-02 11:55:27\n9 min ago,46.874,-0.295,5,2.7,FRANCE
2,2023-11-02 11:43:32\n21 min ago,38.060,23.840,5,2.0,GREECE
3,2023-11-02 11:35:32\n29 min ago,38.091,37.747,7,2.7,CENTRAL TURKEY
4,2023-11-02 11:32:26\n32 min ago,-21.050,-69.010,111,2.9,"TARAPACA, CHILE"

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [413]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [414]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [340]:
import time

In [347]:
cuenta = 'elonmusk'

url = f'https://twitter.com/{cuenta}'

In [348]:
url

'https://twitter.com/elonmusk'

In [352]:
driver = webdriver.Chrome()

driver.get(url)

In [356]:
selector = 'div > div > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010 > main > div > div > div > div > div > div.css-1dbjc4n.r-aqfbo4.r-gtdqiz.r-1gn8etr.r-1g40b8q > div:nth-child(1) > div > div > div > div > div > div.css-1dbjc4n.r-16y2uox.r-1wbh5a2.r-1pi2tsx.r-1777fci > div > div'

numero = driver.find_element(By.CSS_SELECTOR, selector)

numero.text.split()[0].replace(',', '.')

'32.7K'

In [359]:
def sacar_data_twitter(cuenta):
    
    url = f'https://twitter.com/{cuenta}'
    
    driver = webdriver.Chrome()
    
    try:
    
        driver.get(url)
        
        time.sleep(3)  
        
        selector = 'div > div > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010 > main > div > div > div > div > div > div.css-1dbjc4n.r-aqfbo4.r-gtdqiz.r-1gn8etr.r-1g40b8q > div:nth-child(1) > div > div > div > div > div > div.css-1dbjc4n.r-16y2uox.r-1wbh5a2.r-1pi2tsx.r-1777fci > div > div'

        numero = driver.find_element(By.CSS_SELECTOR, selector)

        numero = numero.text.split()[0].replace(',', '.')
        
    except:
        
        numero = 0
        
    driver.quit()

    return numero

In [360]:
sacar_data_twitter('elonmusk')

'32.7K'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [213]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [214]:
driver.get(url)

In [215]:
box = driver.find_elements(By.CSS_SELECTOR,'div.central-featured')

In [228]:
languages = [item.find_elements(By.TAG_NAME,'strong') for item in box]

#### A list with the different kind of datasets available in data.gov.uk

In [197]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [198]:
driver.get(url)

In [203]:
page = driver.find_elements(By.CSS_SELECTOR,'h3.govuk-heading-s.dgu-topics__heading')

In [205]:
datasets = [item.text for item in page]
print(datasets)

['Business and economy', 'Crime and justice', 'Defence', 'Education', 'Environment', 'Government', 'Government spending', 'Health', 'Mapping', 'Society', 'Towns and cities', 'Transport', 'Digital service performance', 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [294]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [295]:
driver.get(url)

In [296]:
table = driver.find_element(By.CSS_SELECTOR, 'div.mw-parser-output > table.wikitable.sortable.static-row-numbers.jquery-tablesorter')

table

In [298]:
body = table.find_element(By.TAG_NAME, 'tbody')
body

In [300]:
rows = body.find_elements(By.TAG_NAME, 'tr')
rows[:2]

[<selenium.webdriver.remote.webelement.WebElement (session="6ae546f87f0532e45c0a8965ae439afc", element="F9477B1B728BDAC67697AAE43FAB78CD_element_37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ae546f87f0532e45c0a8965ae439afc", element="F9477B1B728BDAC67697AAE43FAB78CD_element_38")>]

In [307]:
rows[0].find_elements(By.TAG_NAME, 'td')[2].text

'Sino-Tibetan'

In [308]:
matrix = []


for r in rows:
    
    tmp = []
    
    elems = r.find_elements(By.TAG_NAME, 'td')  
    
    for e in elems:
        
        tmp.append(e.text)
        
    matrix.append(tmp)

In [310]:
data = pd.DataFrame(matrix)
data.head()

,0,1,2,3
0,"Mandarin Chinese\n(incl. Standard Chinese, but...",939,Sino-Tibetan,Sinitic
1,Spanish,485,Indo-European,Romance
2,English,380,Indo-European,Germanic
3,"Hindi\n(excl. Urdu, and other languages)",345,Indo-European,Indo-Aryan
4,Portuguese,236,Indo-European,Romance

In [312]:
matrix[0][0]

'Mandarin Chinese\n(incl. Standard Chinese, but excl. other varieties)'

In [314]:
data[0] = data[0].apply(lambda x: x.split('\n')[0])
data.head()

                  0    1              2           3
0  Mandarin Chinese  939   Sino-Tibetan     Sinitic
1           Spanish  485  Indo-European     Romance
2           English  380  Indo-European    Germanic
3             Hindi  345  Indo-European  Indo-Aryan
4        Portuguese  236  Indo-European     Romance

In [316]:
cols = [e.text for e in table.find_element(By.TAG_NAME, 'thead').find_elements(By.TAG_NAME, 'th')]
cols

['Language', 'Native speakers\n(millions)', 'Language family', 'Branch']

In [317]:
cols = [e.split('\n')[0] for e in cols]

In [318]:
data.columns = cols
data.head()

           Language Native speakers Language family      Branch
0  Mandarin Chinese             939    Sino-Tibetan     Sinitic
1           Spanish             485   Indo-European     Romance
2           English             380   Indo-European    Germanic
3             Hindi             345   Indo-European  Indo-Aryan
4        Portuguese             236   Indo-European     Romance

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code